mixin sPopular(def)
	// start sPopular
	+b.sPopular.section#sPopular&attributes(attributes)
		+e.container.container-fluid.container-lg
			block
			+headline('Популярные категории', 'true')
			mixin item(i, title, text)
				+e.slide.swiper-slide
					+e.item(href='#')
						+e.content
							+e.title!= title
							p!= text
							+icon('arrow-right')
						+e.img-wrap
							+img(`img/sPopular-img-${i}.png`)
			if def
				+e.def-slider-wrap.default-slider-wrap
					+e.def-slider.default-slider
						.swiper-wrapper
							+item(1, 'Шкафы металлические', 'Сушильные шкафы<br>Для обуви шкафы<br>Для раздевалок шкафы<br>Для одежды шкафы<br>Для инструментов шкафы<br>Медицинские шкафы')
							+item(2, 'металлические стеллажи', 'Архивные стеллажи<br>Усиленные стеллажи<br>Серии МКФ стеллажи<br>Среднегрузовые стеллажи<br>Полочные стеллажи<br>Для одежды')
							+item(3, 'верстаки', 'Слесарные верстаки ВЛ-К<br>Верстаки ВЛ<br>Верстаки ВС<br>Столярные верстаки<br>Верстаки Эксперт и Мастер<br>Верстаки РМ')
							+item(4, 'Мебель для раздевалок', 'Сушильные шкафы<br>Для обуви шкафы<br>Для раздевалок шкафы<br>Скамейки для раздевалок<br>Замки для металлических шкафов')
							+item(5, 'мебель для производства и склада', 'Верстаки<br>Шкафы для одежды<br>Шкафы инструментальные<br>Оборудование для газовых баллонов<br>Грузовые тележки')
							+item(6, 'почтовые ящики', 'Для частных домов<br>В подъезд дома<br>Из нержавеющей стали<br>Деревянные<br>Ящики Базис<br>Ящики Базис Лайт')
							+item(7, 'медицинская мебель', 'Медицинские шкафы<br>Столы медицинские<br>Тележки медицинские<br>Кровати медицинские<br>Аптечки медицинские<br>Медицинские банкетки')
							+item(8, 'пищевое оборудование', 'Нейтральное оборудование<br>Вентиляционное оборудование<br>Оборудование для фастфуда<br>Тепловое оборудование<br>Готовые решения для бизнеса<br>Колеса для пищевого оборудования')
							+item(9, 'офисная мебель', 'Картотечные шкафы<br>Офисные шкафы<br>Офисные тумбы<br>Офисные столы<br>Сейфы<br>Стулья и табуретки')
					+arrow()
			else 
				+e.slider-wrapper.default-slider-wrap
					img(src="img/sAdvantages-img-2.png" alt="").bg
					+e.slider.default-slider
						.swiper-wrapper
							+item(1, 'Шкафы металлические', 'Сушильные шкафы<br>Для обуви шкафы<br>Для раздевалок шкафы<br>Для одежды шкафы<br>Для инструментов шкафы<br>Медицинские шкафы')
							+item(2, 'металлические стеллажи', 'Архивные стеллажи<br>Усиленные стеллажи<br>Серии МКФ стеллажи<br>Среднегрузовые стеллажи<br>Полочные стеллажи<br>Для одежды')
							+item(3, 'верстаки', 'Слесарные верстаки ВЛ-К<br>Верстаки ВЛ<br>Верстаки ВС<br>Столярные верстаки<br>Верстаки Эксперт и Мастер<br>Верстаки РМ')
							+item(4, 'Мебель для раздевалок', 'Сушильные шкафы<br>Для обуви шкафы<br>Для раздевалок шкафы<br>Скамейки для раздевалок<br>Замки для металлических шкафов')
							+item(5, 'мебель для производства и склада', 'Верстаки<br>Шкафы для одежды<br>Шкафы инструментальные<br>Оборудование для газовых баллонов<br>Грузовые тележки')
							+item(6, 'почтовые ящики', 'Для частных домов<br>В подъезд дома<br>Из нержавеющей стали<br>Деревянные<br>Ящики Базис<br>Ящики Базис Лайт')
							+item(7, 'медицинская мебель', 'Медицинские шкафы<br>Столы медицинские<br>Тележки медицинские<br>Кровати медицинские<br>Аптечки медицинские<br>Медицинские банкетки')
							+item(8, 'пищевое оборудование', 'Нейтральное оборудование<br>Вентиляционное оборудование<br>Оборудование для фастфуда<br>Тепловое оборудование<br>Готовые решения для бизнеса<br>Колеса для пищевого оборудования')
							+item(9, 'офисная мебель', 'Картотечные шкафы<br>Офисные шкафы<br>Офисные тумбы<br>Офисные столы<br>Сейфы<br>Стулья и табуретки')
					+arrow()
	// end sPopular