mixin sPopular(def, plus=true)
	// start sPopular
	+b.sPopular.section#sPopular&attributes(attributes)
		+e.container.container-fluid.container-lg
			block
			+headline('Популярные категории', 'true', '', plus)
			mixin item(i, title, ...items)
				+e.slide.swiper-slide
					+e.item
						+e.content
							+e.title(href='#')!= title
							+e.sub-link-wrap 
								each item in items
									+e.sub-link(href="#")!= item
							+icon('arrow-right')
						+e.img-wrap
							+img(`img/sPopular-img-${i}.png`)
			if def
				+e.def-slider-wrap.default-slider-wrap
					+e.def-slider.default-slider
						.swiper-wrapper
							+item(1, 'Шкафы металлические', 'Сушильные шкафы', 'Для обуви шкафы', 'Для раздевалок шкафы', 'Для одежды шкафы', 'Для инструментов шкафы', 'Медицинские шкафы')
							+item(2, 'металлические стеллажи', 'Архивные стеллажи', 'Усиленные стеллажи', 'Серии МКФ стеллажи', 'Среднегрузовые стеллажи', 'Полочные стеллажи', 'Для одежды')
							+item(3, 'верстаки', 'Слесарные верстаки ВЛ-К', 'Верстаки ВЛ', 'Верстаки ВС', 'Столярные верстаки', 'Верстаки Эксперт и Мастер', 'Верстаки РМ')
							+item(4, 'Мебель для раздевалок', 'Сушильные шкафы', 'Для обуви шкафы', 'Для раздевалок шкафы', 'Скамейки для раздевалок', 'Замки для металлических шкафов')
							+item(5, 'мебель для производства и склада', 'Верстаки', 'Шкафы для одежды', 'Шкафы инструментальные', 'Оборудование для газовых баллонов', 'Грузовые тележки')
							+item(6, 'почтовые ящики', 'Для частных домов', 'В подъезд дома', 'Из нержавеющей стали', 'Деревянные', 'Ящики Базис', 'Ящики Базис Лайт')
							+item(7, 'медицинская мебель', 'Медицинские шкафы', 'Столы медицинские', 'Тележки медицинские', 'Кровати медицинские', 'Аптечки медицинские', 'Медицинские банкетки')
							+item(8, 'пищевое оборудование', 'Нейтральное оборудование', 'Вентиляционное оборудование', 'Оборудование для фастфуда', 'Тепловое оборудование', 'Готовые решения для бизнеса', 'Колеса для пищевого оборудования')
							+item(9, 'офисная мебель', 'Картотечные шкафы', 'Офисные шкафы', 'Офисные тумбы', 'Офисные столы', 'Сейфы', 'Стулья и табуретки')
					+arrow()
			else 
				+e.slider-wrapper.default-slider-wrap
					img(src="img/sAdvantages-img-2.png" alt="").bg
					+e.slider.default-slider
						.swiper-wrapper
							+item(1, 'Шкафы металлические', 'Сушильные шкафы', 'Для обуви шкафы', 'Для раздевалок шкафы', 'Для одежды шкафы', 'Для инструментов шкафы', 'Медицинские шкафы')
							+item(2, 'металлические стеллажи', 'Архивные стеллажи', 'Усиленные стеллажи', 'Серии МКФ стеллажи', 'Среднегрузовые стеллажи', 'Полочные стеллажи', 'Для одежды')
							+item(3, 'верстаки', 'Слесарные верстаки ВЛ-К', 'Верстаки ВЛ', 'Верстаки ВС', 'Столярные верстаки', 'Верстаки Эксперт и Мастер', 'Верстаки РМ')
							+item(4, 'Мебель для раздевалок', 'Сушильные шкафы', 'Для обуви шкафы', 'Для раздевалок шкафы', 'Скамейки для раздевалок', 'Замки для металлических шкафов')
							+item(5, 'мебель для производства и склада', 'Верстаки', 'Шкафы для одежды', 'Шкафы инструментальные', 'Оборудование для газовых баллонов', 'Грузовые тележки')
							+item(6, 'почтовые ящики', 'Для частных домов', 'В подъезд дома', 'Из нержавеющей стали', 'Деревянные', 'Ящики Базис', 'Ящики Базис Лайт')
							+item(7, 'медицинская мебель', 'Медицинские шкафы', 'Столы медицинские', 'Тележки медицинские', 'Кровати медицинские', 'Аптечки медицинские', 'Медицинские банкетки')
							+item(8, 'пищевое оборудование', 'Нейтральное оборудование', 'Вентиляционное оборудование', 'Оборудование для фастфуда', 'Тепловое оборудование', 'Готовые решения для бизнеса', 'Колеса для пищевого оборудования')
							+item(9, 'офисная мебель', 'Картотечные шкафы', 'Офисные шкафы', 'Офисные тумбы', 'Офисные столы', 'Сейфы', 'Стулья и табуретки')
					+arrow()
	// end sPopular