mixin sForm()
	// start sForm
	+b.SECTION.sForm.section#sForm&attributes(attributes)
		+e.container.container-fluid.container-lg
			+img('img/svg/square.svg').square-1
			+img('img/svg/square.svg').square-2
			+img('img/svg/square.svg').square-3
			+e.row.row
				+e.col.col-xl-5.d-none.d-xl-block
					+e.bg.bg-wrap
						+e.img-wrap.picture-bg
							img(src="img/sForm-bg-1.png", alt="").bg
					+img('img/sForm-img-1.png').img
				.col-xl-7
					+form-wrap
						+e.vertical METROMMEBEL
						p Будте всегда в курсе. #[span Подпишитесь на нашу рассылку.] Вас ждут новинки, скидки, предложения!
						+input("Ваше Имя",'text')
						+input("Ваш email",'text')
						+e.policy *Нажимая кнопку, вы даете согласие на обработку персональных данных
						+e.btn.btn(type='sumbit') Подписаться
						+img('img/svg/square.svg').img-1
						+img('img/svg/square.svg').img-2
						+img('img/svg/square.svg').img-3
	// end sForm

mixin sForm2()
	// start sForm
	+b.SECTION.sForm--2.section#sForm&attributes(attributes)
		.container
			+e.wrap
				+form-wrap
					.row.align-items-center
						.col-auto
							.h1 Нужна помощь в подборе мебели и оборудования?
							h4 Оставьте свои контактные данные и наш специалист свяжется с Вами в ближайшее время
						.col
							+input("Ваше Имя",'text')
							+input("Ваш email",'text')
							+e.policy *Нажимая кнопку, вы даете согласие на обработку персональных данных
							+e.btn.btn.btn-primary(type='sumbit') Подписаться
