
mixin modal() 
	//  start modals
	//- a(href="modal-call").link-modal-js modal-call 
	div(id="modal-call"  style="display: none" )
		+b.modal-win
			+form-wrap
				+e.vertical METROMMEBEL
				+e.title.form-data.h3 Затрудняетесь с выбором?
				p.after-headline Оставьте свой номер телефона, и&nbsp;наши менеджеры перезвонят вам в&nbsp;течение нескольких минут. Просим обратить внимание, что звонки совершаются только в&nbsp;рабочее время (с&nbsp;понедельника по&nbsp;четверг с&nbsp;09.00 до&nbsp;18.00 и&nbsp;в&nbsp;пятницу с&nbsp;09.00 до&nbsp;17.00)
				+input("Ваше Имя", 'text')(required)
				+input("Ваш Телефон", 'tel')(required)
				+e.policy *Нажимая кнопку, вы даете согласие на обработку персональных данных
				+e.BUTTON.btn.btn.btn-secondary(type="submit"  ) Получить консультацию
				//- +e.btns
					//- +e.BUTTON.btn.btn.btn-light(type="submit"  )  Жду звонка
				+img('img/svg/square.svg').img-1
				+img('img/svg/square.svg').img-2
				+img('img/svg/square.svg').img-3
	// #modal-call

	div(id="modal-choose"  style="display: none" )
		+b.modal-win--choose
			mixin item(i, text)
				+in-c('radio', '', 'choose')
					+img(`img/crafting-table-${i}.png`).res-i
					p!= text
			+item(1, 'Экран ВЛ-К-100-Э1')
			+item(2, 'Экран ВЛ-К-150-Э1')
			+item(3, 'Экран ВЛ-К-200-Э1')
	// #modal-choose
	
	// end modals