mixin sOurClients(data)
	// start sOurClients
	+b.sOurClients.section#sOurClients&attributes(attributes)
		.container
			+headline('Наши клиенты')
			+e.row.row
				mixin item(i)
					+e.col.col-auto
						+e.item(href='#')
							+e.img-wrap
								.img-wrap-center
									+img(`img/sOurClients-img-${i}.png`)
				-for(let i =0; i < 2; i++)
					+item(1)
					+item(2)
					+item(3)
					+item(4)
					+item(5)
	// end sOurClients