mixin sSettings11(data)
	// start sSettings11
	+b.sSettings11&attributes(attributes)
		+e.row.row
			mixin item(title, text)
				.col-6
					+e.item
						h5!= title
						p!= text 
			+item('до 12 м', 'высота сталлажа')
			+item('до 2750 кг', 'нагрузка на палетку')
			+item('до 5500 кг', 'нагрузка на ярус')
			+item('до 3300 мм', 'ширина яруса')
		+e.content
			p Стеллажи палетные фронтальные предназначаются для рационального хранения продукции на&nbsp;палетах (поддонах) или решётчатых контейнерах в&nbsp;складских и&nbsp;производственных помещениях. Позволяют получить легкий доступ к&nbsp;грузу и&nbsp;максимально эффективно использовать рабочее пространство. Тип укладки: поперечная или продольная (для FIN). Сборно-разборные, состоят из&nbsp;стоек, балок и&nbsp;других элементов. Дополнительно может комплектоваться настилом.
			p Грузоподъёмность ярусов и&nbsp;секций зависит от&nbsp;толщины металла и&nbsp;типа профиля балок. Точные характеристики грузоподъёмности уточняйте у&nbsp;менеджеров.<br>Стеллаж быстро собирается и&nbsp;разбирается, надежен и&nbsp;прост в&nbsp;использовании. Рама изготовлена из&nbsp;оцинкованных профилей, балки выполнены из&nbsp;металлических холоднокатаных профилей. Элементы соединены между собой болтами. Балки крепятся к&nbsp;раме зацепами, укомплектованы фиксаторами. Возможна регулировка по&nbsp;высоте с&nbsp;шагом 50&nbsp;мм, а&nbsp;также изменение в&nbsp;мезонинные стеллажи.
			p Габариты приведены без учета габаритов выступающих деталей (стоек, болтов и&nbsp;т.д.).
			p Максимально допустимый уклон пола&nbsp;&mdash; 2&nbsp;мм на&nbsp;1000&nbsp;мм длины. Обязательно закрепление рам анкерными болтами к&nbsp;полу для обеспечения безопасной эксплуатации. Необходимо устанавливать на&nbsp;рамы защитные ограждения для предотвращения повреждения погрузочной техникой.<br>Стеллаж поставляется в&nbsp;разобранном виде с&nbsp;комплектом крепежа. Прост в&nbsp;транспортировке.
			p Настил и&nbsp;защитные ограждения в&nbsp;комплект не&nbsp;входят и&nbsp;приобретаются дополнительно.
		mixin spec(key, val)
			+e.spec
				p!= key
				.dots
				p.val!= val
		+e.wrap
			+spec('Высота', 'до 120 мм')
			+spec('Ширина секции', '1800, 2250, 2700, 3300 мм')
			+spec('Нагрузка на ярус', 'до 5500 кг')
			+spec('Нагрузка на палету', 'до 2750 кг')
			+spec('Глубина', '1000 мм')
	// end sSettings11