mixin sMetalFurniture(data)
	// start sMetalFurniture
	+b.SECTION.sMetalFurniture.section#sMetalFurniture&attributes(attributes)
		+e.container.container
			img(src='img/sAdvantages-img-2.png').bg
			+e.row.row
				.col-xl
					+e.left-side
						.h1 металлическая мебель
						h4 Комплексная установка под ключ для вашего бизнеса!
						ul 
							li #[span Мы предлагаем ] стеллажи и&nbsp;медицинскую мебель, шкафы для документов и&nbsp;одежды, сейфы и почтовые ящики, верстаки и&nbsp;другое оборудование. Практичные решения для производства, офиса и архива, мастерской и&nbsp;склада, гостиницы или хостела, больницы и&nbsp;фитнес-центра.
							li Чтобы сделать вашу мебель особенной и&nbsp;яркой, #[span  мы&nbsp;можем окрасить продукцию в&nbsp;любые цвета ] каталога RAL. Индивидуальные цветовые решения делают практичную металлическую мебель эстетичной и&nbsp;стильной.
							li #[span Мебель может быть изготовлена по вашим чертежам], с&nbsp;учётом параметров помещения и&nbsp;особенностей задач хранения; любых габаритов, цвета и&nbsp;комплектации. Сложные функциональные решения&nbsp;&mdash; наша специализация.
				.col-xl.d-none.d-xl-block
					+e.content
						+e.vertical METROMMEBEL
						ul
							li Чтобы сделать вашу мебель особенной и&nbsp;яркой, #[span  мы&nbsp;можем окрасить продукцию в&nbsp;любые цвета ] каталога RAL. Индивидуальные цветовые решения делают практичную металлическую мебель эстетичной и&nbsp;стильной.
							li #[span Мебель может быть изготовлена по вашим чертежам], с&nbsp;учётом параметров помещения и&nbsp;особенностей задач хранения; любых габаритов, цвета и&nbsp;комплектации. Сложные функциональные решения&nbsp;&mdash; наша специализация.
						+img('img/svg/square.svg').img-1
						+img('img/svg/square.svg').img-2
						+img('img/svg/square.svg').img-3
	// end sMetalFurniture