mixin sAdvantages(data)
	// start sAdvantages
	+b.SECTION.sAdvantages.section#sAdvantages&attributes(attributes)
		+e.container.container-fluid.container-lg
			+img('img/sAdvantages-img-1.png').bg
			+e.row.row
				.col-xxl-auto.ms-auto
					+e.content
						+e.vertical METROMMEBEL
						p Наша компания&nbsp;&mdash; #[span Метпроммебель занимается продажей качественной специализированной мебели ] от&nbsp;популярных производителей, охватывая цикл&nbsp;&mdash; от задумки нового изделия до&nbsp;его доставки к&nbsp;покупателю.
						p.text-secondary Работаем с&nbsp;физическими лицами, коммерческими и&nbsp;бюджетными организациями.
						p Наши изделия формируют удобные рабочие и&nbsp;общественные пространства, радуя своей функциональностью, надежностью и&nbsp;внешним видом. Все товары сертифицированы.
						+img('img/svg/square.svg').img-1
						+img('img/svg/square.svg').img-2
						+img('img/svg/square.svg').img-3
				.col-xxl-auto
					ul
						li
							span 12
							p лет на рынке
						li
							span 990
							p довольных клиентов
						li
							span 1
							p год гарантии на&nbsp;всю продукцию
						li
							span.dot
							p вся продукция сертифицирована
	// end sAdvantages