mixin sSettings13(color, finalPrice, fisrtVariant)
	// start sSettings13
	+b.sSettings13&attributes(attributes)
		h5 Выберите параметры:
		+e.wrap
			h6 Габариты: 
			p ВxШxГ, мм: 465x330x150
		+e.wrap
			if fisrtVariant
				h6 Наполнение:
				+in-c('radio', 'Окошко', 'decor')
				+in-c('radio', 'Нумерация', 'decor')
			else
				+e.cutom-input-row.row
					.col-md-4
						+e.custom-input-wrap
							h6 Наполнение:
							+in-c('radio', 'Окошко', 'decor')
							+in-c('radio', 'Нумерация', 'decor')
					.col-md-8
						+e.custom-input-wrap
							h6 Шрифт нумерации на ящике:
							+in-c('radio', 'Stencil', 'font')
							+in-c('radio', 'PT Sans Narrow', 'font')
							+in-c('radio', 'a_LCDNova', 'font')
							+in-c('radio', 'Boyarsky', 'font')
							+in-c('radio', 'Arial Regular', 'font')

		+e.selectItem--indent
			+e.headline Количество ячеек
			+e.custom-input-wrap.d-none.d-sm-flex
				+in-c('radio', '4', 'num')
				+in-c('radio', '5', 'num')
				+in-c('radio', '6', 'num')
				+in-c('radio', '7', 'num')
				+in-c('radio', '8', 'num')
				+in-c('radio', '9', 'num')
				+in-c('radio', '10', 'num')
				+in-c('radio', '11', 'num')
				+in-c('radio', '12', 'num')
			.d-sm-none.w-100
				+input('4', 'select')
		if color
			+e.wrapper
				+e.selectItem
					+e.headline Цвет дверец:
					+b.custom-dropdown--js
						+e.wrap
							+e.input RUL 7021
							+e.color
						+chooseColor()
				+e.selectItem
					+e.headline Цвет корпуса:
					+b.custom-dropdown--js
						+e.wrap
							+e.input RUL 7021
							+e.color
						+chooseColor()
				+e.selectItem
					+e.headline Цвет нумерации:
					+b.custom-dropdown--js
						+e.wrap
							+e.input RUL 7021
							+e.color
						+chooseColor()
		+e.selectItem
			+e.headline Количество ящиков:
			+b.addBlock
				input(type="text" value="1")
				+e.btn-wrap
					+e.btn--plus(type="button")
					+e.btn--minus.disabled(type="button")
		if finalPrice
			+e.final-price Стоимость ячейки: 
				span 2 420 руб.
	// end sSettings13