mixin sSlider(images, title, subtitle, label, plus=true)
	// start sSlider
	+b.sSlider.section&attributes(attributes)
		+e.container.container
			block
			if images
				+img('img/svg/square.svg').img-1
				+img('img/svg/square.svg').img-2
				+img('img/svg/square.svg').img-3
			+headline(title, '', subtitle, plus)
			+e.slider-wrapper.default-slider-wrap
				+e.slider.default-slider.swiper
					.swiper-wrapper
						-for(let i = 0; i < 2; i++)
							+e.slide.swiper-slide.zIndex
								+card(false, 'Стеллаж паллетный фронтальный 6000x9125x1100', '20237, 20238, 20239, 20240, 20241, 20242', '', 'https://metprommebel.ru/upload/iblock/e68/e688294f889a8fbc5973b5eb47a10731.png', 'https://metprommebel.ru/upload/iblock/81d/81dbe1e6d1833b0d406374c514b75029.png', 'https://metprommebel.ru/upload/iblock/670/670dad602dc61888e33a532153681b3b.png').active
									+cardList('Тип', 'сборный')
									+cardList('Высота', '3000мм')
									+cardList('Ширина', '5475мм')
									+cardList('Глубина', '1100мм')
									+cardList('Количество ярусов:', '20100: 2, 20101: 3, 20102: 4')
							+e.slide.swiper-slide.zIndex
								+card(false, 'Верстак 1000 с экраном и светодиодным светильником', '32461: без экрана<br>32460: одинарный экран<br>32459: одинарный экран с консолями<br>32458: двойной экран', '', 'https://metprommebel.ru/upload/iblock/63e/63e90fa40721d6168c38e9d8ee463985.png', 'https://metprommebel.ru/upload/iblock/eda/edadd38bfafb9869617e4079f039ae44.png')
									+cardList('Тип', 'сборный')
									+cardList('Грузоподъёмность (нагрузка)', '300кг')
									+cardList('Наличие колёс', 'есть')
									+cardList('Высота', '825мм')
									+cardList('Ширина', '1000мм')
									+cardList('Глубина', '700мм')
							+e.slide.swiper-slide.zIndex
								+card(false, 'Шкаф картотечный ШК-4 формат А4', '10703', '', 'https://metprommebel.ru/upload/iblock/a0b/a0ba3ce9ead3530fb9ba4738d4156a84.png', 'https://metprommebel.ru/upload/iblock/bd4/bd40e0ad7ee3f30091f2f0d5065d99de.png', 'https://metprommebel.ru/upload/iblock/413/41356e34f67c3ec3092d2dc149852aa4.png', 'https://metprommebel.ru/upload/iblock/467/46720831bf570ec260ba7d6a6cdf70f5.png')
									+cardList('Тип', 'сварной')
									+cardList('Количество ящиков', '4')
									+cardList('Высота', '1310мм')
									+cardList('Ширина', '485мм')
									+cardList('Глубина', '600мм')
									+cardList('Цвет', 'светло-серый (RAL 7035)')
							+e.slide.swiper-slide.zIndex
								+card(false, 'Ящик почтовый на 5 квартир Базис Лайт', '15605', '', 'https://metprommebel.ru/upload/iblock/461/461751d3c3e7215326c690ce49c4e9b8.png', 'https://metprommebel.ru/upload/iblock/b35/b35a413186423477c39041b17eb8750d.png')
									+cardList('Тип', 'сварной')
									+cardList('Количество секций (ячеек)', '5')
									+cardList('Вес', '5,37кг')
									+cardList('Высота', '550мм')
									+cardList('Ширина', '330мм')
									+cardList('Глубина', '150мм')
				+arrow()
	// end sSlider

mixin sSlider2(title, subtitle)
	// start sSlider
	+b.sSlider.section&attributes(attributes)
		+e.container.container
			.tabs
				+b.headline
					+e.title
						+e.plus
						.tabs__caption
							.h4.tabs__btn.active!= title 
							.h4.tabs__btn!= subtitle
				.tabs__content.active
					+e.slider-wrapper.default-slider-wrap
						+e.slider.default-slider.swiper
							.swiper-wrapper
								-for(let i = 0; i < 2; i++)
									+e.slide.swiper-slide.zIndex
										+card(false, 'Стеллаж паллетный фронтальный 6000x9125x1100', '20237, 20238, 20239, 20240, 20241, 20242', '', 'https://metprommebel.ru/upload/iblock/e68/e688294f889a8fbc5973b5eb47a10731.png', 'https://metprommebel.ru/upload/iblock/81d/81dbe1e6d1833b0d406374c514b75029.png', 'https://metprommebel.ru/upload/iblock/670/670dad602dc61888e33a532153681b3b.png')
											+cardList('Тип', 'сборный')
											+cardList('Высота', '3000мм')
											+cardList('Ширина', '5475мм')
											+cardList('Глубина', '1100мм')
											+cardList('Количество ярусов:', '20100: 2, 20101: 3, 20102: 4')
									+e.slide.swiper-slide.zIndex
										+card(false, 'Верстак 1000 с экраном и светодиодным светильником', '32461: без экрана<br>32460: одинарный экран<br>32459: одинарный экран с консолями<br>32458: двойной экран', '', 'https://metprommebel.ru/upload/iblock/63e/63e90fa40721d6168c38e9d8ee463985.png', 'https://metprommebel.ru/upload/iblock/eda/edadd38bfafb9869617e4079f039ae44.png')
											+cardList('Тип', 'сборный')
											+cardList('Грузоподъёмность (нагрузка)', '300кг')
											+cardList('Наличие колёс', 'есть')
											+cardList('Высота', '825мм')
											+cardList('Ширина', '1000мм')
											+cardList('Глубина', '700мм')
									+e.slide.swiper-slide.zIndex
										+card(false, 'Шкаф картотечный ШК-4 формат А4', '10703', '', 'https://metprommebel.ru/upload/iblock/a0b/a0ba3ce9ead3530fb9ba4738d4156a84.png', 'https://metprommebel.ru/upload/iblock/bd4/bd40e0ad7ee3f30091f2f0d5065d99de.png', 'https://metprommebel.ru/upload/iblock/413/41356e34f67c3ec3092d2dc149852aa4.png', 'https://metprommebel.ru/upload/iblock/467/46720831bf570ec260ba7d6a6cdf70f5.png')
											+cardList('Тип', 'сварной')
											+cardList('Количество ящиков', '4')
											+cardList('Высота', '1310мм')
											+cardList('Ширина', '485мм')
											+cardList('Глубина', '600мм')
											+cardList('Цвет', 'светло-серый (RAL 7035)')
									+e.slide.swiper-slide.zIndex
										+card(false, 'Ящик почтовый на 5 квартир Базис Лайт', '15605', '', 'https://metprommebel.ru/upload/iblock/461/461751d3c3e7215326c690ce49c4e9b8.png', 'https://metprommebel.ru/upload/iblock/b35/b35a413186423477c39041b17eb8750d.png')
											+cardList('Тип', 'сварной')
											+cardList('Количество секций (ячеек)', '5')
											+cardList('Вес', '5,37кг')
											+cardList('Высота', '550мм')
											+cardList('Ширина', '330мм')
											+cardList('Глубина', '150мм')
						+arrow()
				.tabs__content
					+e.slider-wrapper.default-slider-wrap
						+e.slider.default-slider
							.swiper-wrapper
								-for(let i = 0; i < 2; i++)
									+e.slide.swiper-slide.zIndex
										+card(false, 'Стеллаж паллетный фронтальный 6000x9125x1100', '20237, 20238, 20239, 20240, 20241, 20242', '', 'https://metprommebel.ru/upload/iblock/e68/e688294f889a8fbc5973b5eb47a10731.png', 'https://metprommebel.ru/upload/iblock/81d/81dbe1e6d1833b0d406374c514b75029.png', 'https://metprommebel.ru/upload/iblock/670/670dad602dc61888e33a532153681b3b.png')
											+cardList('Тип', 'сборный')
											+cardList('Высота', '3000мм')
											+cardList('Ширина', '5475мм')
											+cardList('Глубина', '1100мм')
											+cardList('Количество ярусов:', '20100: 2, 20101: 3, 20102: 4')
									+e.slide.swiper-slide.zIndex
										+card(false, 'Верстак 1000 с экраном и светодиодным светильником', '32461: без экрана<br>32460: одинарный экран<br>32459: одинарный экран с консолями<br>32458: двойной экран', '', 'https://metprommebel.ru/upload/iblock/63e/63e90fa40721d6168c38e9d8ee463985.png', 'https://metprommebel.ru/upload/iblock/eda/edadd38bfafb9869617e4079f039ae44.png')
											+cardList('Тип', 'сборный')
											+cardList('Грузоподъёмность (нагрузка)', '300кг')
											+cardList('Наличие колёс', 'есть')
											+cardList('Высота', '825мм')
											+cardList('Ширина', '1000мм')
											+cardList('Глубина', '700мм')
									+e.slide.swiper-slide.zIndex
										+card(false, 'Шкаф картотечный ШК-4 формат А4', '10703', '', 'https://metprommebel.ru/upload/iblock/a0b/a0ba3ce9ead3530fb9ba4738d4156a84.png', 'https://metprommebel.ru/upload/iblock/bd4/bd40e0ad7ee3f30091f2f0d5065d99de.png', 'https://metprommebel.ru/upload/iblock/413/41356e34f67c3ec3092d2dc149852aa4.png', 'https://metprommebel.ru/upload/iblock/467/46720831bf570ec260ba7d6a6cdf70f5.png')
											+cardList('Тип', 'сварной')
											+cardList('Количество ящиков', '4')
											+cardList('Высота', '1310мм')
											+cardList('Ширина', '485мм')
											+cardList('Глубина', '600мм')
											+cardList('Цвет', 'светло-серый (RAL 7035)')
									+e.slide.swiper-slide.zIndex
										+card(false, 'Ящик почтовый на 5 квартир Базис Лайт', '15605', '', 'https://metprommebel.ru/upload/iblock/461/461751d3c3e7215326c690ce49c4e9b8.png', 'https://metprommebel.ru/upload/iblock/b35/b35a413186423477c39041b17eb8750d.png')
											+cardList('Тип', 'сварной')
											+cardList('Количество секций (ячеек)', '5')
											+cardList('Вес', '5,37кг')
											+cardList('Высота', '550мм')
											+cardList('Ширина', '330мм')
											+cardList('Глубина', '150мм')
						+arrow()