mixin sSlider(images, title, subtitle, label)
	// start sSlider
	+b.sSlider.section&attributes(attributes)
		+e.container.container
			block
			if images
				+img('img/svg/square.svg').img-1
				+img('img/svg/square.svg').img-2
				+img('img/svg/square.svg').img-3
			+headline(title, '', subtitle)
			+e.slider-wrapper.default-slider-wrap
				+e.slider.default-slider
					.swiper-wrapper
						-for(let i = 0; i < 5; i++)
							+e.slide.swiper-slide.zIndex
								+card(label)
						+e.slide.swiper-slide.zIndex
							+card(label, 1)
				+arrow()
	// end sSlider

mixin sSlider2(title, subtitle, label)
	// start sSlider
	+b.sSlider.section&attributes(attributes)
		+e.container.container
			.tabs
				+b.headline
					+e.title
						+e.plus
						.tabs__caption
							.h4.tabs__btn.active!= title 
							.h4.tabs__btn!= subtitle
				.tabs__content.active
					+e.slider-wrapper.default-slider-wrap
						+e.slider.default-slider
							.swiper-wrapper
								-for(let i = 0; i < 5; i++)
									+e.slide.swiper-slide.zIndex
										+card(label)
								+e.slide.swiper-slide.zIndex
									+card(label, 1)
						+arrow()
				.tabs__content
					+e.slider-wrapper.default-slider-wrap
						+e.slider.default-slider
							.swiper-wrapper
								-for(let i = 0; i < 5; i++)
									+e.slide.swiper-slide.zIndex
										+card(label)
								+e.slide.swiper-slide.zIndex
									+card(label, 1)
						+arrow()