// start .sProdCard
.sProdCard {
	--sPT: #{rem(0)};
	--sPB: #{rem(25)};
	// --sTPB: #{rem()};
	background-color: #fff;
	@include media-breakpoint-up(md) {
		--sPB: #{rem(44.5)};
	}
	@include media-breakpoint-up(lg) {
		--sPB: #{rem(45)};
	}
	&__container {
		position: relative;
	}
	.square {
		opacity: 0.14;
		display: none;
		@include media-breakpoint-up(xxl) {
			display: block;
		}
		&--1 {
			position: absolute;
			left: -590px;
			bottom: 80px;
		}
	}
	&__row{
		--bs-gutter-x: #{rem(32)};
		--bs-gutter-y: #{rem(55)};
		margin-bottom: rem(50);
	}
	&__col {
	}
	&__swiper-wrap {
		position: relative;
		border: 1px solid #e6e6e6;
		margin: 0 auto;
		max-width: rem(486);
		width: 100%;
		@include media-breakpoint-up(md) {
			min-width: rem(480);
		}
		@include media-breakpoint-up(lg) {
			min-width: rem(420);
			max-width: rem(420);
		}
		@include media-breakpoint-up(xxl) {
			min-width: rem(480);
			max-width: rem(486);
		}
		.swiper-button-hand {
			--swiperArrowSize: #{rem(25)};
			--swiperArrowPosition: 31px;
			--swiperBorderColorDef: #e6e6e6;

			border-radius: 0;
			box-shadow: none;
			border-width: 1px;
			z-index: 9;
			.icon {
				font-size: rem(11);
			}
		}
	}
	&__slider {
		@include media-breakpoint-down(md) {
			height: 100%;
		}
	}
	&__slide {
		background-color: #fff;
		@include media-breakpoint-down(md) {
			width: 100% !important;
		}
	}
	&__img-wrap {
		@include block(486, 602);
		max-width: rem(486);
		margin: 0 auto;
		@include media-breakpoint-down(md) {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
		}
	}
	&__links {
		display: flex;
		flex-direction: column;
		align-items: center;

		position: absolute;
		top: 24px;
		right: 32px;
		z-index: 9;

		--bs-gutter-y: #{rem(2)};
		margin-top: calc(var(--bs-gutter-y) * -1);
	}
	&__link {
		display: inline-block;
		padding: rem(5) rem(6);
		background-color: #cdcdcd;
		color: #fff;
		margin-top: calc(var(--bs-gutter-y));
		&:hover, &.active {
			background-color: $secondary;
			color: #fff;
		}
		.icon {
			font-size: rem(22);
		}
	}
	&__head-wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: rem(30);
	}
	&__text-wrap {
		margin-bottom: rem(37);
		img {
			width: 100%;
			max-width: rem(68);
			margin-bottom: rem(19);
		}
		p {
			font-size: rem(14);
			margin-bottom: rem(5);
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
	&__creator {
		display: flex;
		align-items: center;
		font-size: rem(14);
		color: #000;
		img {
			flex: 0 0 auto;
			margin-left: rem(7);
			width: 100%;
			max-width: rem(168);
		}
	}
	&__headline {
		display: flex;
		align-items: center;
		margin-bottom: rem(37);
	}
	h4 {
		margin-right: rem(38);
		margin-bottom: 0;
	}
	&__has {
		font-size: rem(12);
		color: #6ab40b;
	}
	h6 {
		margin-bottom: rem(15);
	}
	&__products {
		margin-bottom: rem(32);
	}
	&__radio-wrap {
		@include roww('13px', 'm');
		--bs-gutter-y: #{rem(5)};
		display: flex;
		flex-wrap: wrap;
		margin-top: calc(var(--bs-gutter-y) * -1);
		max-width: rem(530);
		.custom-input {
			margin-top: calc(var(--bs-gutter-y) * 1);
			display: flex;
			flex-direction: column;
			position: relative;
			margin-bottom: 0;
			padding: rem(14) rem(13);
			&__input {
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				margin-left: 0;
				border-radius: 0;
				margin-top: 0;
				box-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
				border: none;
				&:checked {
					box-shadow: none;
					background-image: none;
					& ~ .custom-input__count, & ~ .custom-input__articul, & ~ span {
						color: #fff;
					}
				}
			}
			&__count {
				position: relative;
				z-index: 1;
				margin-bottom: rem(5);
				font-size: rem(14);
				color: #000;
			}
			&__articul {
				position: relative;
				z-index: 1;
				font-size: rem(14);
			}
		}
		&--2 {
			.custom-input {
				&__text {
					position: relative;
					color: #fff;
				}
			}
		}
	}
	&__accessories {
		.custom-input {
			position: relative;
			padding-left: rem(31);
			margin-bottom: rem(14);
			@include media-breakpoint-up(sm) {
				margin-bottom: 0;
			}
			&__input {
				@include a-cent(y);
				width: 16px;
				height: 16px;
				border: 1px solid #e6e6e6;
				background-color: #fcfbfb;
				border-radius: 0;
				left: 0;
				margin-left: 0;
				&:checked {
					background-image: none;
					background-color: $secondary;
					border-color: $secondary;
				}
				&:focus {
					box-shadow: none;
				}
			}
			&__text {
				display: block;
				color: $gray-900;
				font-size: rem(14);
				@include media-breakpoint-up(sm) {
					max-width: rem(150);
				}
			}
		}
	}
	&__inner-row {
		--bs-gutter-x: #{rem(20)};
		--bs-gutter-y: #{rem(10)};

		align-items: center;
		padding-bottom: rem(18);
		margin-bottom: rem(20);
		position: relative;
		&::before {
			content: '';
			position: absolute;
			display: block;
			width: 200vw;
			height: 1px;
			bottom: 0;
			left: -50vw;
			background-color: rgba($color: $body-color, $alpha: .21);
			@include media-breakpoint-up(sm) {
				content: unset;
			}
		}
		@include media-breakpoint-up(sm) {
			padding-bottom: 0;
			max-width: rem(549);
		}
	}
	&__articul {
		font-size: rem(12);
		display: flex;
		align-items: center;
		.addBlock {
			margin-left: rem(19);
			input {
				width: rem(25);
				height: rem(25);
			}
			&__btn {
				width: rem(25);
				height: rem(25);
				&:before, &:after {
					width: 8px;
				}
			}
		}
	}
	&__price {
		font-size: rem(14);
	}
	&__choose-colors {
		margin-bottom: rem(42);
		max-width: rem(550);
	}
	&__colors-row {
		--bs-gutter-x: #{rem(15)};
		--bs-gutter-y: #{rem(15)};

		align-items: center;
		.addBlock {
			input {
				width: rem(25);
				height: rem(25);
			}
			&__btn {
				width: rem(25);
				height: rem(25);
				&:before, &:after {
					width: 8px;
				}
			}
		}
	}
	&__color-head {
		font-size: rem(14);
		color: $gray-900;
		margin-bottom: rem(14);
		@include media-breakpoint-up(sm) {
			max-width: rem(150);
			margin-bottom: 0;
		}
	}
	&__colors {
		@include roww('5px', 'm');
		display: flex;
		align-items: center;
		.custom-input {
			padding-left: 0;
			margin-bottom: 0;
			&__input {
				width: 17px;
				height: 17px;
				margin-left: 0;
				margin-top: 0;
				float: none;
				border-radius: 5px;
				background-color: var(--bg, #{$gray-200});
				border: 2px solid transparent;
				vertical-align: sub;
				&:checked {
					background-image: none;
					background-color: var(--bg);
					border-color: $primary;
				}
				&:focus {
					box-shadow: none;
				}
			}
		}
	}
	&__footer-row {
		// --bs-gutter-x: #{rem(35)};
		--bs-gutter-x: #{rem(10)};
		--bs-gutter-y: #{rem(20)};
		
		align-items: center;
		// @include media-breakpoint-up(lg) {
		// 	--bs-gutter-x: #{rem(10)};
		// }
		@include media-breakpoint-up(xxl) {
			--bs-gutter-x: #{rem(22)};
		}
		// @include media-breakpoint-up(xxl) {
		// 	--bs-gutter-x: #{rem(35)};
		// }
		.addBlock {
			input {
				@include media-breakpoint-down(sm) {
					width: rem(25);
					height: rem(25);
				}
			}
			&__btn {
				@include media-breakpoint-down(sm) {
					width: rem(25);
					height: rem(25);
				}
				&::before, &::after {
					@include media-breakpoint-down(sm) {
						width: 8px;
					}
				}
			}
		}
	}
	&__btn {
		--bs-btn-padding-x: #{rem(20)};
		--bs-btn-padding-y: #{rem(9)};
		--bs-btn-font-size: #{rem(14)};
		--bs-btn-border-radius: 0;

		// @include media-breakpoint-up(lg) {
		// 	--bs-btn-padding-x: #{rem(20)};
		// }
		@include media-breakpoint-up(xxl) {
			--bs-btn-padding-x: #{rem(27)};
		}

		@include media-breakpoint-down(sm) {
			--bs-btn-font-size: #{rem(12.4)};
		}
	}
	&__buy {
		font-size: rem(14);
	}
	&__advantages-row {
		--bs-gutter-x: #{rem(38)};
		--bs-gutter-y: #{rem(35)};
		align-items: center;
	}
	&__item {
		display: flex;
		align-items: center;
		max-width: rem(243);
		font-size: rem(14);
		.icon {
			flex: 0 0 auto;
			margin-right: rem(20);
			color: $primary;
			&-refund {
				font-size: rem(40);
				fill: none;
				stroke: currentColor;
				stroke-width: 2px;
			}
			&-track {
				font-size: rem(36);
			}
			&-award {
				font-size: rem(35);
			}
			// &-award
		}
		img {
			flex: 0 0 auto;
			margin-right: rem(20);
		}
	}
	&__main-row {
		--bs-gutter-y: #{rem(49)};
		margin-bottom: rem(56);
	}
	&__head-row {
		--bs-gutter-x: #{rem(24)};
		align-items: center;
		margin-bottom: rem(13);
	}
	&__btn-dicount {
		// --bs-btn-padding-x: #{rem(24)};
		--bs-btn-padding-x: #{rem(13)};
		--bs-btn-padding-y: #{rem(9)};
		--bs-btn-font-size: #{rem(14)};
		--bs-btn-border-radius: 0;

		// @include media-breakpoint-up(xl) {
		// 	--bs-btn-padding-x: #{rem(13)};
		// }
		@include media-breakpoint-up(xl) {
			--bs-btn-padding-x: #{rem(20)};
		}
		@include media-breakpoint-up(xxl) {
			--bs-btn-padding-x: #{rem(24)};
		}
		@include media-breakpoint-down(sm) {
			--bs-btn-font-size: #{rem(12.4)};
		}
	}
	&__print {
		.icon {
			font-size: rem(39);
		}
	}
	&__delivery {
		// max-width: rem(247);
		padding: rem(25) rem(17);
		border: 1px solid #f1f0f0;
		h6 {
			margin-bottom: 0;
			@include media-breakpoint-up(sm) {
				margin-bottom: rem(7);
			}
		}
		p {
			font-size: rem(14);
			margin-bottom: rem(7);
			// max-width: rem(215);
			@include media-breakpoint-up(lg) {
				max-width: rem(215);
			}
			&:last-of-type {
				margin-bottom: 0;
			}
			span {
				color: $secondary;
			}
		}
	}
	&__calculate {
		--bs-btn-padding-x: #{rem(18)};
		--bs-btn-padding-y: #{rem(9)};
		--bs-btn-font-size: #{rem(14)};
		--bs-btn-hover-color: #fff;
		--bs-btn-active-color: #fff;
		--bs-btn-border-radius: 0;

		display: flex;
		align-items: center;
		text-align: left;
		.icon {
			flex: 0 0 auto;
			font-size: rem(20);
			margin-left: rem(28);
		}
	}
	&__payment {
		padding: rem(15) rem(17);
		border: 1px solid #f1f0f0;
		h6 {
			margin-bottom: rem(7);
		}
		p {
			display: flex;
			align-items: center;
			font-size: rem(14);
			margin-bottom: rem(7);
			&:last-of-type {
				margin-bottom: 0;
			}
			.icon {
				flex: 0 0 auto;
				font-size: rem(27);
				color: $secondary;
				margin-right: rem(7);
			}
		}
	}
	&__payment-wrap {
		display: flex;	
		align-items: center;
		img {
			margin-right: rem(7);
		}
	}
	&__footer-btn-row {
		@include roww('14px', 'm');
		--bs-gutter-y: #{rem(10)};
		margin-top: calc(var(--bs-gutter-y) * -1);
		display: flex;
		flex-wrap: wrap;
		@include media-breakpoint-up(xl) {
			--bs-gutter-x: #{rem(20)};
		}
	}
	&__footer-btn {
		--bs-btn-padding-x: #{rem(17)};
		--bs-btn-padding-y: #{rem(8.600)};
		--bs-btn-font-size: #{rem(14)};
		--bs-btn-color: #fff;
		--bs-btn-bg: #dadada;
		--bs-btn-hover-color: #fff;
		--bs-btn-hover-bg: #{$primary};
		--bs-btn-hover-border-color: #{$primary};
		--bs-btn-active-color: #fff;
		--bs-btn-active-bg: #{$primary};
		--bs-btn-active-border-color: #{$primary};
		--bs-btn-border-radius: 0;

		// max-width: rem(142);
		margin-top: var(--bs-gutter-y);
		min-width: 8.875rem;
		width: calc(50% - var(--bs-btn-padding-x));
		@include media-breakpoint-up(md) {
			width: auto;
			min-width: 8.875rem;
		}
		@include media-breakpoint-up(xl) {
			width: 100%;
			max-width: 13rem;
		}
	}

	.tabs {
		&__caption {
			margin-bottom: rem(12);
		}
	}
	&__features {
		padding: rem(29) 0;
		@include media-breakpoint-up(xl) {
			padding: rem(27) rem(31);
		}
		ul {
			list-style-type: none;
			max-width: rem(548);
			margin-bottom: rem(35);
			li {
				display: flex;
				font-size: .875rem;
				justify-content: space-between;
				align-items: flex-end;
				span {
					color: #000;
					&.doted {
						border-bottom: 1px dotted #000;
						flex: 1 0;
						margin-bottom: 6px;
					}
					&:last-child {
						max-width: rem(193);
						min-width: rem(193);
					}
				}
			}
		}
	}
	&__features-title {
		text-transform: uppercase;
		margin-bottom: rem(40);
	}
	&__desc {
		padding: rem(29) 0;
		@include media-breakpoint-up(xl) {
			padding: rem(26) rem(34);
		}
		p {
			margin-bottom: rem(10);
			color: #000;
			span {
				color: $gray-600;
			}
		}
	}
	&__certificates {
		display: flex;
		flex-direction: column;
		--bs-gutter-y: #{rem(29)};
		margin-top: calc(var(--bs-gutter-y) * -1);
		padding: rem(29) 0;
		@include media-breakpoint-up(xl) {
			padding: rem(32) rem(36);
		}
		a {
			display: flex;
			align-items: center;
			text-decoration: none;
			color: #000;
			margin-top: var(--bs-gutter-y);
			&:hover {
				color: $primary;
			}
			img {
				min-width: rem(25);
				margin-right: rem(27);
			}
		}
	}
	&__review {
		padding: rem(29) rem(0) rem(78);
		@include media-breakpoint-up(md) {
			padding: rem(29) rem(0) rem(48);
		}
		@include media-breakpoint-up(xxl) {
			padding: rem(29) rem(31) rem(222);
		}
		.form-wrap {
			max-width: rem(824);
			// margin: 0 auto;
			&__row {
				--bs-gutter-x: #{rem(25)};
				// --bs-gutter-y: #{rem(19)};
			}
			.h4 {
				font-weight: 400;
				margin-bottom: rem(38);
			}
			&__stars {
				display: flex;
				align-items: center;
				font-size: rem(14);
				margin-bottom: rem(20);
				color: $gray-900;
				img {
					width: 100%;
					max-width: rem(68);
					margin-left: rem(50);
				}
			}
			&__input-wrap {
				margin-bottom: rem(23);
			}
			&__input {
				border-radius: 5px;
				border-color: #717070;
			}
			&__input-title {
				color: $gray-900;
				font-size: rem(14);
				margin-bottom: rem(14);
				display: block;
			}
			textarea {
				min-height: rem(98);
			}
			&__btn {
				--bs-btn-padding-x: #{rem(33)};
				--bs-btn-padding-y: #{rem(9.600)};
				--bs-btn-font-size: #{rem(14)};
				--bs-btn-border-radius: 0;

				width: 100%;
				max-width: rem(131);
				&--cancel {
					--bs-btn-color: #fff;
					--bs-btn-bg: #dadada;
				}
			}
			.filepond {
				cursor: pointer;
				&--credits {
					display: none;
				}
				&--panel {
					background-color: transparent !important;
					border-radius: 5px;
					border: 1px solid #717070 !important;
					width: rem(76) !important;
					&:before {
						content: "";
						position: absolute;
						@include a-cent;
						background-image: url('../img/camera.png');
						background-repeat: no-repeat;
						background-size: contain;
						background-position: center;
						display: block;
						width: rem(31);
						height: rem(23);
					}
				}
				&--item-panel {
					opacity: 0;
				}
				&--panel-center {
					background-color: transparent;
				}
				&--drop-label {
					min-height:0 !important;
					& > *{
						display: none;
					}
				}
				&--root {
					display: block;
					// width: rem(76) !important;
					min-height: rem(98) !important;
					max-height: rem(460) !important;
				}
				&--panel-top, &--panel-bottom {
					background-color: transparent;
				}
				&--image-preview-wrapper {
					position: absolute;

				}
				&--list {
					left: rem(80);
				}
				&--list-scroller {
					height: 100% !important;
					max-height: 400px;
					position: relative;
					overflow-y: scroll;
					overflow-x: visible;
				}
			}
			&__file-wrap {
				position: relative;
				z-index: 1;
			}
			&__file-content {
				position: absolute;
				left: rem(96);
				bottom: 0;
				z-index: -1;
			}
			&__file-title {
				font-size: rem(14);
				color: $gray-900;
			}
			&__file-text {
				font-size: rem(14);
				color: $gray-600;
			}
		}
	}
	&__real-review-row {
		--bs-gutter-y: #{rem(42)};
		margin-bottom: rem(42);
	}
	&__real-review {
		img {
			margin-bottom: rem(13);
		}
		p {
			color: $gray-900;
			margin-bottom: 0;
			font-size: rem(14);
			@include media-breakpoint-up(md) {
				font-size: rem(16);
			}
		}
	}
	&__real-review-head {
		display: flex;
		align-items: center;
		margin-bottom: rem(8);
	}
	&__name {
		color: #000;
		margin-right: rem(15);
	}
	&__arrow-wrap {
		position: relative;
		max-width: rem(550);
		margin-bottom: rem(37);
		@include media-breakpoint-up(lg) {
			display: inline-block;
			max-width: rem(470);
		}
		@include media-breakpoint-up(xl) {
			max-width: rem(361);
		}
		@include media-breakpoint-up(xxl) {
			max-width: rem(550);
			display: block;
		}
		.swiper-button-hand {
			--swiperArrowSize: #{rem(25)};
			--swiperArrowPosition: 0;
			--swiperBorderColorDef: #e6e6e6;
	
			box-shadow: none;
			border-radius: 0;
			border-width: 1px;
			z-index: 9;
			@include media-breakpoint-down(sm) {
				display: none;
			}
			@include media-breakpoint-up(lg) {
				--swiperArrowPosition: -27px;
			}
			// @include media-breakpoint-up(xl) {
			// 	--swiperArrowPosition: -27px;
			// }
			@include media-breakpoint-up(xxl) {
				--swiperArrowPosition: 0;
			}
			svg {
				font-size: .6875rem;
			}
		}
	}
	&__color-slider {
		max-width: rem(481);
		margin: 0 auto;
		.swiper-wrapper {
			@include media-breakpoint-down(sm) {
				@include roww('3px', 'm');
				--bs-gutter-y: #{rem(8)};
				margin-top: calc(var(--bs-gutter-y) * -1);
				transform: none !important;
				flex-wrap: wrap;
				& > * {
					margin-top: var(--bs-gutter-y);
					width: calc(100% / 3 - var(--bs-gutter-x)) !important;
					margin-right: calc(var(--bs-gutter-x)/2) !important;
				}
			}
		}
	}
	&__color-slide {
		max-width: calc(100% / 3 - 3px);
		@include media-breakpoint-up(sm) {
			max-width: calc(100% / 4 - 2.2px);
		}
		@include media-breakpoint-up(xl) {
			max-width: calc(100% / 3 - 2px);
		}
		@include media-breakpoint-up(xxl) {
			max-width: calc(100% / 4 - 2.2px);
		}
		&:nth-child(even) {
			.custom-input__color {
				background-color: $primary;
			}
		}
		.custom-input {
			// padding-left: 0;
			margin-bottom: 0;
			padding: rem(11.600) rem(8.184);
			@include media-breakpoint-up(xl) {
				padding: rem(11.600) rem(9.784);
			}
			&__input {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				margin-left: 0;
				margin-top: 0;
				border-color: #f3f3f3;
				border-radius: 0;
				background-color: transparent;
				&:checked {
					background-image: none;
					box-shadow: none;
					border-color: $primary;
				}
				&:focus {
					box-shadow: none;
				}
			}
			&__articul {
				font-size: rem(14);
				color: $gray-600;
				margin-bottom: rem(7);
				display: block;
				text-align: center;
			}
			&__price {
				font-size: rem(14);
				color: $secondary;
				margin-bottom: rem(7);
				display: block;
				text-align: center;
			}
			&__color {
				width: 100%;
				max-width: rem(48);
				height: 16px;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: rem(7);
				display: block;
				background-color: #d4d9dc;
				border-radius: 8px;
			}
			&__status {
				text-align: center;
				font-size: rem(14);
				color: $gray-600;
				display: block;
			}
		}
	}
	&__full-slider-wrap {
		display: flex;
		align-items: center;
		.sProdCard__swiper-wrap {
			margin-left: rem(10);
			height: 100%;
			img {
				@include media-breakpoint-down(sm) {
					height: calc(100% - 50px);
				}
			}
		}
	}
	&__thumb-arrow-wrap {
		position: relative;
		min-width: 84px;
		width: 84px;
		height: 602px;
		.swiper-button-hand {
			--swiperArrowPosition: 29px;
			--swiperArrowSize: #{rem(25)};
			--swiperBorderColorDef: #e6e6e6;
	
			border-radius: 0;
			box-shadow: none;
			border-width: 1px;
			.icon {
				font-size: rem(11);
			}
			&-prev {
				bottom: unset;
				svg {
					transform: rotate(270deg);
				}
			}
			&-next {
				top: unset;
				svg {
					transform: rotate(90deg);
				}
			}
		}
	}
	&__thumb-slider {
		max-height: 540px;
		margin-top: rem(30);
		.sProdCard {
			&__img-wrap {
				--ratio: 103/83;
				border: 1px solid #e6e6e6;
				background-color: #fff;
				img {
					height: 100%;
					padding: 16px 0;
				}
			}
		}
	}
	&__slide-thumb {
		&.swiper-slide-thumb-active {
			.sProdCard {
				&__img-wrap {
					border-color: $primary;
				}
			}
		}
	}
	&__main-col {
		position: relative;
    z-index: 2;
	}

	&__content-wrap {
		background-color: #fff;
		padding: rem(30) rem(40) rem(35) rem(36);
		margin-top: rem(29);
		border: 0.5px solid #F0F0F0;
		p {
			font-size: rem(14);
			color: #000;
			line-height: 1.43em;
			margin-bottom: 0;
			span {
				color: $primary;
			}
		}
		ul {
			margin-bottom: 0;
			list-style-type: none;
			li {
				padding-left: rem(20);
				position: relative;
				color: #000;
				font-size: rem(14);
				&:before {
					content: '';
					position: absolute;
					display: block;
					width: 3px;
					height: 3px;
					border-radius: 50%;
					background-color: #000;
					left: 9px;
					top: 9px;
				}
			}
		}
	}
	&--2 {
		--sPT: #{rem(20)};
		.sProdCard {
			&__container {
				z-index: 1;
				&:before {
					content: "";
					background-color: #f5f5f5;
					display: block;
					height: calc(100% + var(--sPT) + var(--sPB));
					left: -542px;
					position: absolute;
					top: calc(var(--sPT)*-1);
					width: 680px;
					z-index: -2;
				}
			}
			&__row {
				--bs-gutter-x: #{rem(50)};
				--bs-gutter-y: #{rem(50)};
			}
			&__swiper-wrap {
				max-width: none;
				min-width: 0;
			}
			&__img-wrap {
				img {
					max-height: 100%;
				}
			}
			&__footer-row {
				--bs-gutter-x: #{rem(29)};
				p {
					margin-bottom: 0;
					font-size: rem(14);
					span {
						color: #000;
						font-size: rem(24);
						font-weight: 700;
						margin-left: 5px;
					}
				}
			}
			&__text {
				font-size: rem(12);
				color: #F1A10E;
				line-height: 1.33em;
				max-width: rem(339);
				a {
					color: #F1A10E;
					text-decoration: none;
					&:hover {
						color: $primary;
					}
				}
			}
		}
		.custom-dropdown {
			width: 100%;
			max-width: rem(285);
			border: 0.5px solid #F0F0F0;
			border-radius: 0;
			cursor: pointer;
			&__wrap {
				position: relative;
				padding: rem(8);
				@include media-breakpoint-up(sm) {
					padding: rem(8) rem(27) rem(8) rem(51);
				}
				&:before {
					content: '';
					position: absolute;
					display: block;
					width: rem(27);
					height: 100%;
					background-color: $primary;
					background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='#fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3E%3C/svg%3E");
					background-position: center;
					background-repeat: no-repeat;
					background-size: 16px 12px;	
					top: 0;
					right: 0;
					pointer-events: none;
				}
			}
			&__input {
				color: #000;
				background-image: none;
				border-radius: 0;
				font-size: rem(14);
				padding: 0;
				border: none;
				@include media-breakpoint-down(sm) {
					text-align: center;
				}
			}
			&__color {
				@include a-cent(y);
				position: absolute;
				left: rem(9);
				width: rem(20);
				height: rem(20);
				border-radius: 5px;
				background-color: #000;
			}
		}
	}
	&__specifications {
		h5 {
			text-align: center;
			margin-bottom: rem(26);
			font-size: rem(16);
			color: $primary;
			text-decoration: underline;
			font-weight: 400;
			max-width: rem(1160);
		}
		.row {
			--bs-gutter-x: #{rem(21)};
			--bs-gutter-y: #{rem(63)};
			@include media-breakpoint-up(md) {
				--bs-gutter-x: #{rem(41)};
			}
			@include media-breakpoint-up(lg) {
				--bs-gutter-x: #{rem(61)};
				--bs-gutter-y: #{rem(54)};
			}
			@include media-breakpoint-up(xxl) {
				--bs-gutter-x: #{rem(81)};
				--bs-gutter-y: #{rem(104)};
			}
		}
	}
	&__specifications-title {
		font-size: rem(14);
		color: #000;
		margin-bottom: rem(47);
		position: relative;
		display: block;
		max-width: max-content;
		&:after {
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 1px;
			border-bottom: 1px dashed #000;
			left: 0;
			bottom: 0;
		}
	}
	.dd-group {
		border: 2px dashed #0B77BF;
		background-color: #fff;
		&__item {
			&.active {
				.dd-group__head {
					&::after {
						transform: rotateX(0);
					}
				}
			}
		}
		&__head {
			font-size: rem(24);
			font-weight: 400;
			margin-bottom: 0;
			color: #000;
			text-align: center;
			padding: rem(48) 0;
			cursor: pointer;
			position: relative;
			&::after {
				@include mt;
				content: '';
				position: absolute;
				display: block;
				width: 29px;
				height: 25px;
				background-image: url("data:image/svg+xml,%3Csvg width='25' height='30' viewBox='0 0 25 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='29.5678' height='25' transform='matrix(0 1 1 0 0 0)' fill='%230B77BF'/%3E%3Cg clip-path='url(%23clip0_136_8332)'%3E%3Cpath d='M11.7799 11.542L7.09219 16.4172C6.93401 16.583 6.85806 16.7963 6.88096 17.0104C6.90386 17.2246 7.02376 17.4222 7.21439 17.5599C7.40502 17.6976 7.65085 17.7642 7.89805 17.7452C8.14525 17.7262 8.37367 17.623 8.53328 17.4583L12.5005 13.3322L16.4677 17.4583C16.6271 17.6236 16.8557 17.7274 17.1032 17.7467C17.3508 17.7661 17.5972 17.6994 17.7881 17.5615C17.9791 17.4236 18.099 17.2256 18.1216 17.011C18.1443 16.7965 18.0677 16.5829 17.9088 16.4172L13.221 11.542C13.1329 11.4506 13.0227 11.3771 12.8982 11.3266C12.7737 11.2762 12.6379 11.25 12.5004 11.25C12.363 11.25 12.2272 11.2762 12.1027 11.3266C11.9782 11.3771 11.868 11.4506 11.7799 11.542Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_136_8332'%3E%3Crect width='13' height='15' fill='white' transform='translate(5 21) rotate(-90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				top: 26px;
				right: 26px;
				transform: rotateX(180deg);
			}
		}
		&__content {
			padding: rem(26) rem(20) rem(50);
			display: none;
			&.active {
				display: block;
			}
			.form-wrap {
				max-width: rem(1279);
				margin-left: auto;
				margin-right: auto;
				&__row {
					--bs-gutter-x: #{rem(32)};
					--bs-gutter-y: #{rem(6)};
					@include media-breakpoint-up(xl) {
						--bs-gutter-x: #{rem(141)};
					}
				}
				&__inner-row {
					--bs-gutter-x: 0;
					--bs-gutter-y: #{rem(6)};
				}
				&__col {
					.form-wrap__input-wrap {
						label {
							@include media-breakpoint-down(lg) {
								flex-direction: column;
							}
						}
					}
					.form-wrap__input-title {
						@include media-breakpoint-down(lg) {
							margin-bottom: rem(24);
						}
					}
				}
				&__input-wrap {
					label {
						display: flex;
					}
				}
				&__input-title {
					flex: 0 0 auto;
					font-size: rem(14);
					width: 100%;
					margin-top: rem(9);
					color: #3D3D3D;
					max-width: rem(171);
					@include media-breakpoint-up(lg) {
						max-width: rem(135);
					}
					@include media-breakpoint-up(xl) {
						max-width: rem(171);
					}
					sup {
						font-weight: 700;
						color:#F11111;
					}
				}
				&__input {
					border-radius: 0;
					border: 0.5px solid $gray-600;
					padding: rem(10.5) rem(24);
					font-size: rem(14);
				}
				textarea {
					min-height: rem(94);
				}
				&__btn {
					--bs-btn-padding-x: #{rem(25)};
					--bs-btn-padding-y: #{rem(9)};
					--bs-btn-font-size: #{rem(14)};
					--bs-btn-border-radius: 0;

					margin-top: rem(12);
					display: block;
					margin-left: auto;
					margin-right: auto;
					@include media-breakpoint-up(lg) {
						margin-left: rem(135);
					}
					@include media-breakpoint-up(xl) {
						margin-left: rem(171);
					}
				}
			}
		}
	}
	&__detail {
		@include mt;
		position: absolute;
		background: #0B77BF;
		border: 2px solid #FFFFFF;
		z-index: 2;
		padding: rem(6) rem(0) rem(6) rem(33);
		border-radius: 42px;
		color: #3D3D3D;
		font-size: rem(14);
		max-width: 0;
		overflow: hidden;
		white-space: nowrap;
		cursor: pointer;
		a {
			color: $gray-600;
			&:hover {
				color: $primary;
			}
		}
		&:hover {
			max-width: 100%;
			padding: rem(7) rem(13) rem(7) rem(44);
			background-color: #fff;
			border-color: #0B77BF;
			z-index: 4;
			.sProdCard__plus {
				border-color: #0B77BF;
				background-color: #fff;
				&:before, &::after {
					background-color: #0B77BF;
				}
			}
		}
		&:nth-child(1) {
			left: 49%;
    	top: 33%;
		}
		&:nth-child(2) {
			left: 63%;
    	top: 51%;
		}
		&:nth-child(3) {
			left: 45%;
    	top: 55%;
		}
		&:nth-child(4) {
			left: 37%;
    	top: 59%;
		}
		&:nth-child(5) {
			left: 53%;
    	top: 61%;
		}
		&:nth-child(6) {
			left: 53%;
			top: 74%;
		}
	}
	&__plus {
		@include mt;
		position: absolute;
		top: -2px;
		left: -2px;
		width: rem(38);
		height: rem(38);
		border: 2px solid #FFFFFF;
		border-radius: 50%;
		background-color: #0B77BF;
		&:before, &:after {
			@include mt;
			content: '';
			position: absolute;
			display: block;
			@include a-cent;
			width: rem(10);
			height: 2px;
			background-color: #fff;
		}
		&:before {
			transform: rotate(-90deg);
		}
		&:after {
			// transform: rotate(90deg);
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sProdCard