mixin sSettings7(data)
  +b.sSettings7&attributes(attributes)
    +e.text Ширина:
    +e.wrap
      +in-c('radio', '', 'width')
        +e.SPAN.img-wrap
          span.img-wrap-center
            +img('img/width-img-1.png')
        span 1000 мм
      +in-c('radio', '', 'width')
        +e.SPAN.img-wrap
          span.img-wrap-center
            +img('img/width-img-2.png')
        span 1500 мм
      +in-c('radio', '', 'width')
        +e.SPAN.img-wrap
          span.img-wrap-center
            +img('img/width-img-3.png')
        span 2000 мм
    +e.elements
      +e.headline
        h5 Элементы:
        a(href="#") Очистить
      +e.row.row
        .col-6.col-md.col-lg-6.col-xxl
          +e.item.disabled
            +e.cross
            | Верстак ВЛ-К-100
        .col-6.col-md.col-lg-6.col-xxl
          +e.item
            +e.cross
            | Тумба ВЛ-К-003
        .col-6.col-md.col-lg-6.col-xxl
          +e.item
            +e.cross
            | Тумба ВЛ-К-003
    +e.count
      h6 Количество:
      +b.addBlock
        input(type="text" value="1")
        +e.btn-wrap
          +e.btn--plus(type="button")
          +e.btn--minus.disabled(type="button")