// start .headerBlock
.headerBlock {
	--sPT: #{rem(48)};
	--sPB: #{rem(51)};
	--asideW: 347px;
	position: relative;
	// --sTPB: #{rem()}; 
	// min-height: 100vh;
	// min-height: calc(var(--vh, 1vh) * 100);
	@include media-breakpoint-up(md) {
		--sPT: #{rem(22)};
		--sPB: #{rem(76)};
	}
	@include media-breakpoint-up(xxl) {
		--sPT: #{rem(280)};
		--sPB: #{rem(0)};
	}
	.swiper {
		// pointer-events: none;
		// .swiper-wrapper {
		// 	@include media-breakpoint-down(md) {
		// 		transform: none !important;
		// 	}
		// }
	}
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: var(--bs-gutter-x);

		align-items: center;
	}
	&__slide{
		height: auto;
	}
	&__bg-wrap {
		position: absolute;
		top: 0;
		z-index: -2;
		height: 50%;
		width: 50%;
		right: 0;
		@include media-breakpoint-up(md) {
			height: 100%;
			width: 100%;
			right: unset;
		}
	}
	&__swiper-bg {
		// position: absolute;
    // bottom: 0;
    // z-index: -1;
    height: 100%;
		@include media-breakpoint-up(xxl) {
			// margin-right: calc(-50vw + 50% - var(--asideW)*-1/2);
			// margin-bottom: rem(88);
			// height: auto;
		}
		img {
			display: block;
			// margin-left: auto;
			// width: 100%;
			// min-height: 100%;
			object-fit: cover;
			width: auto;
			// height: 100%;
			height: 80%;
			@include media-breakpoint-up(xxl) {
				height: auto;
				// max-width: rem(571);
			}
		}
	}
	&__swiper-img {
		@include media-breakpoint-up(md) {
			margin-right: rem(-160);
			overflow: visible;
		}
		@include media-breakpoint-up(lg) {
			margin-right: 0;
		}
		@include media-breakpoint-down(md) {
			position: absolute;
			max-width: rem(189);
			top: 49px;
			right: 5%;
			z-index: 0;
		}
	}
	// &__img-slide {
	// 	&:nth-child(even) {
	// 		img {
	// 			transform: rotate(180deg);
	// 		}
	// 	}
	// }
	&__img-wrap {
		text-align: center;
		display: block;
		position: relative;
		&:before {
			@include media-breakpoint-up(md) {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: rem(-70);
			}
			@include media-breakpoint-up(xl) {
				top: rem(-102);
				height: 134%;
				width: 130%;
			}
			@include media-breakpoint-up(xxl) {
				top: rem(-102);
				height: 104%;
				width: 130%;
			}
		}
		img {
			width: 100%;
			max-width: rem(189);
			@include media-breakpoint-up(md) {
				max-width: rem(366);
			}
			@include media-breakpoint-up(xxl) {
				max-width: rem(571);
			}
			// @include media-breakpoint-down(md) {
			// 	position: absolute;
			// 	top: 49px;
			// 	right: 12px;
			// }
		}
	}
	// &__bg-wrap {
	// 	height: 100%;
	// 	width: 100%;
	// }
	&__swiper-middle {
		@include mt;
		position: absolute;
		left: 62%;
		transform: translateX(-50%);
		top: var(--sPT);
		width: rem(186);
		color: $gray-900;
		background-color: #fff;
		box-shadow: 0 0 32px rgba(0, 0, 0, 0.08);
		z-index: 5;
		&:hover {
			box-shadow: none;
			.headerBlock__text, .icon {
				color: $primary;
			}
		}
		@include media-breakpoint-up(lg) {
			left: 56%;
		}
		@include media-breakpoint-up(xxl) {
			width: rem(186);
			left: 50%;
		}
		.icon {
			@include mt;
			font-size: rem(25);
			color: $gray-900;
			background-color: #fff;
		}
		a {
			display: block;
			text-decoration: none;
		}
	}
	&__slide-middle {
		text-align: right;
		padding: rem(18) rem(19);
		@include media-breakpoint-up(xxl) {
			padding: rem(25.600) rem(19) rem(17.200);
		}
	}
	&__text {
		@include mt;
		text-align: right;
		font-size: rem(14);
		max-width: rem(147);
		margin-bottom: rem(24.400);
		margin-left: auto;
		text-decoration: none;
		color: $gray-900;
		background-color: #fff;
		@include media-breakpoint-up(xxl) {
			// max-width: rem(80);
			margin-bottom: rem(6);
		}
	}
	&__swiper-text {
		// pointer-events: none;
		overflow: visible;
		@include media-breakpoint-up(md) {
			// pointer-events: all;
			margin-bottom: rem(53);
		}
	}
	&__slide-txt {
		@include mt;
		// max-width: rem(408);
    text-decoration: none;
		@include media-breakpoint-down(md) {
			position: relative;
			&:before {
				content: '';
				position: absolute;
				display: block;
				width: 100vw;
				height: 100%;
				left: rem(-18);
				top: rem(-48);
			}
		}
		.h1 {
			text-transform: uppercase;
			margin-bottom: rem(20);
			position: relative;
			max-width: rem(408);
			font-size: rem(36);
			color: $gray-900;
			@include media-breakpoint-up(xl) {
				font-size: rem(48);
			}
			&::after {
				content: '';
				position: absolute;
				display: block;
				bottom: -10px;
				left: -50px;
				height: 5px;
				width: 100px;
				background-color: $secondary;
			}
		}
		p {
			font-size: rem(24);
			margin-bottom: 0;
			max-width: rem(408);
			color: $gray-600;
			@include media-breakpoint-down(md) {
				padding: rem(20) rem(25) rem(40) rem(0);
				background-color: rgba($color: #fff, $alpha: .8);
			}
		}
	}

	&__container {
		position: relative;
	}
	&__swiper-wrapper {
		position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
		max-width: rem(1700);
		z-index: 1;
		@include media-breakpoint-up(xl) {
			top: 66%;
			transform: translateX(-50%);
		}
		@include media-breakpoint-down(md) {
			top: unset;
			transform: translateX(-50%);
			bottom: 0;
		}
	}
	.swiper-button-hand {
		--swiperArrowPosition: 26px;
	}

	&__row-item {
		--bs-gutter-x: #{rem(10)};
		@include media-breakpoint-up(md) {
			--bs-gutter-x: #{rem(28)};
		}
		@include media-breakpoint-up(sm) {
			--bs-gutter-x: #{rem(46)};
		}
		& > * {
			&:nth-child(1), &:nth-child(2) {
				.headerBlock__item {
					border-bottom: 1px solid $gray-200;
				}
			}
			&:nth-child(odd) {
				border-right: 1px solid $gray-200;
			}
		}
	}
	&__item {
		padding: rem(20) rem(6);
		display: flex;
		align-items: center;
		height: 100%;
		@include media-breakpoint-up(sm) {
			padding: rem(30) rem(16);
		}
		.icon {
			flex: 0 0 auto;
			font-size: rem(30);
			color: $primary;
			margin-right: rem(7);
			@include media-breakpoint-up(xl) {
				font-size: rem(40);
				margin-right: rem(40);
			}
		}
		img {
			flex: 0 0 auto;
			margin-right: rem(7);
			width: 100%;
			max-width: rem(30);
			@include media-breakpoint-up(xl) {
				max-width: rem(40);
				margin-right: rem(40);
			}
		}
		p {
			font-size: rem(18);
			margin-bottom: 0;
			max-width: rem(210);
			@include media-breakpoint-up(md) {
				font-size: rem(14);
			}
			@include media-breakpoint-up(xl) {
				font-size: rem(18);
			}
		}
	}
	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}

}

// end.headerBlock