mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			+e.swiper-middle--js.swiper.d-none.d-md-block
				.swiper-wrapper
					-for(let i = 0; i<3; i++)
						+e.slide-middle.swiper-slide
							+e.text Камера хранения для сумок на 20 ячеек 
								!= i
							+icon('arrow-right')
			+e.row.row
				.col-md-6
					+e.swiper-text--js.swiper
						.swiper-wrapper
							-for(let i = 0; i<3; i++)
								+e.slide-txt.swiper-slide
									h1 металлическая мебель 
										!= i
									p Комплексная установка под ключ для вашего бизнеса!
					+e.row-item.row
						.col-6
							+e.item
								+icon('settings')
								p Монтаж и сборка под&nbsp;ключ
						.col-6
							+e.item
								+icon('track')
								p Круглосуточная доставка по всей России
						.col-6
							+e.item
								+icon('discount')
								p Актуальные цены на сайте
						.col-6
							+e.item
								+icon('settings')
								p Возможность отсрочки платежа
				.col-md-6
					+e.swiper-img--js.swiper
							.swiper-wrapper
								-for(let i = 0; i<3; i++)
									+e.img-slide.swiper-slide
										+e.img-wrap
											+img('img/header-img-1.png')
					+e.bg-wrap
						+e.swiper-bg--js.swiper
							.swiper-wrapper
								-for(let i = 0; i<3; i++)
									+e.slide-bg.swiper-slide
										img(src='img/header-bg-1.jpg' alt='')
			+e.swiper-wrapper.d-none.d-md-block
				+arrow
	// end headerBlock

	//- .picture-bg
	//- .bg-wrap