extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/footer/_footer.pug

include ../blocks/sPopular/_sPopular.pug
include ../blocks/sProdCard/_sProdCard.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sSlider/_sSlider.pug
include ../blocks/sSettings4/_sSettings4.pug

block variables
	- let  mainPage= 'prod-card prod-card-2' 
	- let  bg= null

block title
	- let  title= 'Карточка товара'
	title= title
block pagecontent
	+mob-mnu()
	
	
	+header()
		.container-fluid
			.header__inner
				+topLine
				+top-nav()
	main
		+page-head('', 'Каталог', ' Стеллажи металлические сборные', 'Металлические стеллажи для одежды SFC')
			+headline('Металлические стеллажи для одежды SFC')
		//- +headerBlock 
		//- +sAdvantages
		//- +sProdCard(false, false, 'true')
		+sProdCard2({
			thumbSlider: false,
			content: true,
			contentText: "Стеллажи (вешала) для одежды серии SFC предназначены для хранения одежды.Устанавливаются в&nbsp;торговых и&nbsp;складских помещениях магазинов одежды, секонд-хэндов, стоков, на&nbsp;пошивочных предприятиях, в&nbsp;мастерских, ателье, химчистках.<br>Состоит из&nbsp;рамы, нескольких полок и&nbsp;перекладины (штанги) для размещения одежды на&nbsp;плечиках. На&nbsp;полках можно размещать одежду в&nbsp;сложенном виде, коробки, обувь, фурнитуру и&nbsp;аксессуары.<br>Полки выдерживают распределенную нагрузку до&nbsp;100&nbsp;кг. Перекладина для размещения одежды на&nbsp;плечиках выдерживает до&nbsp;60&nbsp;кг нагрузки.<br>Габариты приведены без учета габаритов выступающих деталей (стоек, болтов и&nbsp;т.д.). Поставляется со&nbsp;склада в&nbsp;разобранном виде с&nbsp;комплектом необходимого крепежа. Элементы окрашены порошковой краской серого цвета RAL 7035 и&nbsp;соединяются между собой болтами.<br>Крепеж поставляется в&nbsp;комплекте.<br>Вешало можно монтировать в&nbsp;линию любой длины с&nbsp;любым количеством секций. Нагрузочная способность сохраняется при выставлении секций в&nbsp;линию.<br>При расчете стоимости многосекционного стеллажа необходимо учитывать:<br>Отдельно стоящий состоит из&nbsp;четырех стоек, полок и&nbsp;штанги.<br>Два смежных вешала состоят из&nbsp;шести стоек (промежуточные стойки не&nbsp;дублируются)."
		})
			+e.main-content
				+sSettings4
		//- +sSlider('true', 'Лучшие предложения на', '5 июня 2022').sSlider--bg
		+sSlider('', 'Похожие товары', '', 'true')
			+img('img/svg/square.svg').square.square--2
		+sSlider('', 'Вы просматривали', '', 'true')
			+img('img/svg/square.svg').square.square--3
		+sPopular('true')
			+img('img/svg/square.svg').square.square--4
			+img('img/svg/square.svg').square.square--5
			+img('img/svg/square.svg').square.square--6
		//- +sPopularManufacturers
		//- +sOurClients
		+sForm2
	+footer()
		+img('img/svg/square.svg').square.square--7
		+img('img/svg/square.svg').square.square--8
      



