extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/footer/_footer.pug

include ../blocks/sPopular/_sPopular.pug
include ../blocks/sProdCard/_sProdCard.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sSlider/_sSlider.pug
include ../blocks/sSettings7/_sSettings7.pug

block variables
	- let  mainPage= 'prod-card prod-card-2' 
	- let  bg= null

block title
	- let  title= 'Карточка товара'
	title= title
block pagecontent
	+mob-mnu()
	
	
	+header()
		.container-fluid
			.header__inner
				+topLine
				+top-nav()
	main
		+page-head('', 'Каталог', ' Почтовые ящики', 'Почтовые ящики из нержавеющей стали Ящики почтовые серии Эталон')
			+headline('Ящики почтовые серии Эталон')
		//- +headerBlock 
		//- +sAdvantages
		//- +sProdCard(false, false, 'true')
		+sProdCard2({
			thumbSlider: false,
			content: true,
			contentText: '<span>Максимальная грузоподъёмность&nbsp;&mdash; до&nbsp;300.</span><br>Слесарные верстаки серии ВЛ-К предназначены для сборочных и&nbsp;слесарных работ.<br>Универсальные верстаки могут комплектоваться полками, драйверами, тумбами с&nbsp;выдвижными ящиками или полками, столешницей с&nbsp;кожухом из&nbsp;оцинкованной стали внутри МДФ (возможна установка столешницы из&nbsp;фанеры), экраном для инструментов, полками из&nbsp;промежуточных панелей, облицовочными панелями, колёсами, светодиодным светильником. Поставляются в&nbsp;разобранном виде. Окрашены стойкой к&nbsp;царапинам и&nbsp;коррозии порошковой краской.',
			details: true
		})
			+sSettings7
		//- +sSlider('true', 'Лучшие предложения на', '5 июня 2022').sSlider--bg
		+sSlider('', 'Похожие товары', '', 'true')
			+img('img/svg/square.svg').square.square--2
		+sSlider('', 'Вы просматривали', '', 'true')
			+img('img/svg/square.svg').square.square--3
		+sPopular('true')
			+img('img/svg/square.svg').square.square--4
			+img('img/svg/square.svg').square.square--5
			+img('img/svg/square.svg').square.square--6
		//- +sPopularManufacturers
		//- +sOurClients
		+sForm2
	+footer()
		+img('img/svg/square.svg').square.square--7
		+img('img/svg/square.svg').square.square--8
      



