mixin sSettings9(data)
	// start sSettings9
	+b.SECTION.sSettings9.section#sSettings9&attributes(attributes)
		+e.sizes
			.radio-buttons.vertical
				+in-c('radio', '1', 'cells_outer')(value='1')
				+in-c('radio', '2', 'cells_outer')(value='2')
				+in-c('radio', '3', 'cells_outer')(value='3')
				+in-c('radio', '4', 'cells_outer')(value='4')
				+in-c('radio', '5', 'cells_outer')(value='5')
				+in-c('radio', '6', 'cells_outer')(value='6' checked)
				+in-c('radio', '7', 'cells_outer')(value='7')
				+in-c('radio', '8', 'cells_outer')(value='8')
				+in-c('radio', '9', 'cells_outer')(value='9')
				+in-c('radio', '10', 'cells_outer')(value='10')
			.pb_front
				.pb_front_container
					.pb_front_cells(style='background-image: url("img/box.png"), url("img/box-bottom.png"), url("img/box-border.png");')
						.pb_front_top(style="background-image: url('img/corner-top.png')")
						.pb_front_left.grey(style="background-image: url('img/corner-left.png')")
						.pb_front_right.grey(style="background-image: url('img/corner-right.png')")
						.pb_front_bottom(style="background-image: url('img/corner-bottom.png')")
					.table
						- for(let i = 0; i < 10; i++)
							.tr
								.td
								.td
								.td
								.td
								.td
								.td
			.radio-buttons.horizontal
				+in-c('radio', '1', 'sections_outer')(value='1')
				+in-c('radio', '2', 'sections_outer')(value='2' checked)
				+in-c('radio', '3', 'sections_outer')(value='3')
				+in-c('radio', '4', 'sections_outer')(value='4')
				+in-c('radio', '5', 'sections_outer')(value='5')
				+in-c('radio', '6', 'sections_outer')(value='6')
		+e.row.row
			.col
				+e.text ВхШхГ мм: 1380&times;2270&times;250 (60&nbsp;ячеек)
				+e.outline-input-wrap
					+e.title Выберите параметры:
					+e.outline-input
						+in-c('radio', 'Настенный', 'params')
						+in-c('radio', 'Встраивавемый', 'params')
				+e.dropdown-wrap
					h6 Цвет корпуса:
					+b.custom-dropdown--js
						+e.wrap
							+e.input RAL 1000 L
							+e.color
						+chooseColor()
				+e.dropdown-wrap
					h6 Цвет дверец:
					+b.custom-dropdown--js
						+e.wrap
							+e.input RAL 1000 L
							+e.color
						+chooseColor()
				+e.dropdown-wrap
					h6 Цвет заглушек:
					+b.custom-dropdown--js
						+e.wrap
							+e.input RAL 1000 L
							+e.color
						+chooseColor()
				+e.dropdown-wrap
					h6 Цвет уголков:
					+e.colors
						+in-c('radio', '', 'colorСorner')(style='--bgColor: #000;')
						+in-c('radio', '', 'colorСorner')(style='--bgColor: #fff;')
						+in-c('radio', '', 'colorСorner')(style='--bgColor: #CDCDCD;')
			.col-12.col-md-auto.col-lg-12.col-xl-auto
				+e.decor-wrap
					+e.decor
						h6 Наполнение:
						+in-c('checkbox', 'Окошко', 'decor')
						+in-c('checkbox', 'Нумерация', 'decor')
					+e.decor
						h6 Шрифт номера на ящике:
						+in-c('checkbox', 'Stencil', 'font')
						+in-c('checkbox', 'a_LCDNova', 'font')
						+in-c('checkbox', 'Arial Regular', 'font')
						+in-c('checkbox', 'PT Sans Narrow', 'font')
						+in-c('checkbox', 'Boyarsky', 'font')
	// end sSettings9