mixin sPopularManufacturers(data)
	// start sPopularManufacturers
	+b.sPopularManufacturers.section#sPopularManufacturers&attributes(attributes)
		.container
			+headline('Популярные производители')
			+e.slider-wrapper.default-slider-wrap
				+e.slider.default-slider.swiper
					.swiper-wrapper
						mixin item(i='img/sPopularManufacturers-img-1.png')
							+e.slide.swiper-slide
								+e.img-wrap(href='#')
									.img-wrap-center
										+img(i)
						-for(let i=0; i<2; i++)
							+item
						+item('img/sOurClients-img-4.png')
						+item('img/sOurClients-img-5.png')
						-for(let i=0; i<6; i++)
							+item
				+arrow()
	// end sPopularManufacturers