// start .sCatalog
.sCatalog {
	--sPT: #{rem(0)};
	--sPB: #{rem(50.5)};
	// --sTPB: #{rem()};
	&__container {
		position: relative;
		@include media-breakpoint-up(xxl) {
			max-width: rem(1596);
			// &:after {
			// 	content: '';
			// 	position: absolute;
			// 	content: '';
			// 	height: calc(100% + var(--sPT) + var(--sPB));
			// 	width: 976px;
			// 	left: -542px;
			// 	top: calc(var(--sPT) * -1);
			// 	background-color: #f5f5f5;
			// 	display: block;
			// 	z-index: -2;
			// }
		}
	}
	@include media-breakpoint-up(md) {
		--sPB: #{rem(41.5)};
	}
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(18)};
		--sPB: #{rem(77.5)};
	}
	&__row{
		--bs-gutter-x: 0;
		// --bs-gutter-y: var(--bs-gutter-x);

		margin-bottom: rem(21);
		position: relative;
		@include media-breakpoint-up(md) {
			// margin-bottom: rem(68);
		}
		@include media-breakpoint-up(lg) {
			--bs-gutter-x: #{rem(21)};
		}
		@include media-breakpoint-up(xxl) {
			// margin-bottom: rem(28);
		}
	}
	&__other-products {
		display: flex;
		flex-wrap: wrap;
		@include roww('12px', 'm');
		margin-bottom: rem(20);
		@include media-breakpoint-down(md) {
			--bs-gutter-x: 8px;
		}
	}
	&__other-product {
		padding: rem(9) rem(9) rem(15);
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
		background-color: #ffffff;
		display: inline-block;
		text-decoration: none;
		display: flex;
		flex-direction: column;
		width: calc(100% / 2 - var(--bs-gutter-x));
		// max-width: rem(218);
		@include media-breakpoint-up(md) { 
			width: calc(100% / 3 - var(--bs-gutter-x));
			// max-width: rem(227);
		}
		@include media-breakpoint-up(lg) { 
			width: calc(100% / 4 - var(--bs-gutter-x));
		}
		@include media-breakpoint-up(xxl) {
			width: calc(100% / 6 - var(--bs-gutter-x));
			// max-width: rem(180);
		}
		&:hover {
			.sCatalog__product-title, .sCatalog__product-desc {
				color: $primary;
			}
		}
	}
	&__img-wrap {
		@include block(162, 113);
		z-index: 3;
		background-color: #faf9f9;
		// max-width: rem(162);
		margin-bottom: rem(19);
		&:after {
			content: '';
			position: absolute;
			display: block;
			width: rem(103);
			height: rem(41);
			border: 3px solid $secondary;
			@include a-cent;
			z-index: 1;
		}
		img {
			z-index: 2;
		}
	}
	&__product-title {
		@include mt;
		max-width: rem(162);
		color: $gray-900;
		margin-bottom: rem(10);
		line-height: 1.125em;
		flex-grow: 1;
	}
	&__product-desc {
		@include mt;
		max-width: rem(162);
		font-size: rem(14);
		color: $gray-600;
	}
	&__show-more {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding-bottom: rem(40);
		.icon {
			flex: 0 0 auto;
			margin-left: rem(25);
			font-size: rem(20);
		}
	}
	&__radio-btns {
		display: flex;
		align-items: center;
		// justify-content: flex-end;
		flex-wrap: wrap;
		@include roww('13px', 'm');
		margin-bottom: rem(75);
		--bs-gutter-y: 25px;
		margin-top: calc(var(--bs-gutter-y) * -1);
		@include media-breakpoint-up(xl) {
			--bs-gutter-x: 8px;
		}
		@include media-breakpoint-up(xxl) {
			--bs-gutter-x: 13px;
		}
	}
	&__radio-btn {
		margin-top: var(--bs-gutter-y);
		background-color: #fff;
		padding: rem(8) rem(11);
		width: 100%;
		max-width: max-content;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
		position: relative;
		border-radius: 20px;
		text-align: center;
		cursor: pointer;
		@include media-breakpoint-up(xxl) {
			max-width: rem(145);
		}
		span {
			@include mt;
			font-size: rem(14);
			color: $gray-600;
		}
		input {
			@include mt;
			position: absolute;
			width: 100%;
			height: 100%;
			border-radius: 20px;
			border: 2px solid transparent;
			appearance: none;
			top: 0;
			left: 0;
			cursor: pointer;
			&:checked {
				border-color: $secondary;
				& ~ span {
					color: $secondary;
				}
			}
		}
	}
	&__sort {
		display: flex;
		align-items: center;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			display: block;
			height: 1px;
			width: rem(1196);
			left: 0;
			bottom: -7px;
			background-color: $gray-200;
		}
		select {
			padding: 0;
			background-color: transparent;
			font-size: rem(14);
			border: none;
			color: $gray-900;
			padding-right: 20px;
			background-position: right 2px center;
			@include media-breakpoint-down(md) {
				font-size: rem(12);
			}
		}
	}
	&__input-wrap {
		margin-right: rem(20);
		@include media-breakpoint-down(md) {
			margin-right: 0;
		}
	}
	&__sort {
		margin-bottom: rem(75);
	}
	&__sort-title {
		font-size: rem(14);
		color: $gray-900;
		margin-right: rem(20);
		@include media-breakpoint-down(md) {
			margin-right: rem(5);
			font-size: rem(12);
		}
	}
	&__sort-link {
		font-size: rem(14);
		color: $gray-900;
		text-decoration: none;
		&:hover {
			color: $secondary;
		}
	}
	&__control-row {
		margin-left: auto;

		--bs-gutter-x: #{rem(25)};
		@include media-breakpoint-down(md) {
			--bs-gutter-x: 0;
		}
	}
	&__catalog-row {
		--bs-gutter-x: #{rem(35)};
		--bs-gutter-y: #{rem(35)};
		&--2 {
			--bs-gutter-y: #{rem(0)};
		}
	}
	&__cotrol-btn {
		width: 24px;
		height: 34px;
		color: $gray-600;
		&:hover, &.active {
			color: $secondary;
		}
		svg {
			font-size: rem(24);
			height: 1em;
			width: 1em;
		}
	}
	.card {
		border: 1px solid #f1f0f0;
		@include media-breakpoint-down(xl) {
			max-width: none;
		}
		&__img-wrap {
			@include media-breakpoint-down(xl) {
				max-width: rem(275);
				margin: 0 auto;
			}
		}
	}
	.pagination-wrapper {
		margin-bottom: rem(102);
		@include media-breakpoint-up(xl) {
			margin-bottom: rem(42);
		}
		ul {
			justify-content: flex-end;
			margin-bottom: 0;
		}
		.page-numbers {
			min-width: rem(25);
			text-align: center;
			&.next {
				--bs-pagination-bg: #e6e6e6;
				--bs-pagination-color: #fff;
				--bs-pagination-padding-x: #{rem(4.800)};
				--bs-pagination-padding-y: #{rem(4.800)};

				display: flex;
				align-items: center;
				justify-content: center;
				margin-left: rem(30);
				.icon {
					font-size: rem(16);
				}
			}
			&.unactive {
				pointer-events: none;
			}
		}
	}
	&__text {
		max-width: rem(647);
		color: #000000;
		line-height: 1.5;
		@include media-breakpoint-up(xl) {
			margin-left: rem(178);
		}
	}

	.square {
		position: absolute;
		bottom: 800px;
    left: -535px;
		opacity: 0.14;
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sCatalog

.filter {
	background-color: #fff;
	@include media-breakpoint-up(xl) {
		padding: rem(41) rem(15) rem(41) rem(60);
		// height: 100%;
		max-width: rem(339);
		min-width: rem(340);
	}
	@include media-breakpoint-down(md) {
		top: 1046px;
	}
	@include media-breakpoint-down(lg) {
		top: 1064px;
	}
	@include media-breakpoint-down(xl) {
		position: absolute;
		@include mt;
		// transform: translateX(-100vw);
		z-index: 12;
    top: 764px;
    width: 100%;
		padding-top: rem(42);
		transform: scaleY(0);
    transform-origin: top;
		&.active {
			transform: scaleY(1);
		}
	}
	h5 {
		margin-bottom: rem(43);
		text-transform: uppercase;
	}
	.dd-group {
		&__item {
			&:not(:first-child) {
				.dd-group__head {
					border-top-color: transparent;
				}
			}
			.dd-group__content {
				display: none;
			}
			&.active {
				.dd-group__head {
					&::before {
						transform: translateY(-50%);
					}
				}
			}
		}
		&__head {
			font-size: rem(14);
			color: $gray-900;
			position: relative;
			border: 1px solid #e6e6e6;
			cursor: pointer;
			&:before {
				@include mt;
				content: '';
				position: absolute;
				display: block;
				background-image: url('../img/svg/triangle-up.svg');
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
				width: 14px;
				height: 14px;
				right: 10px;
				top: 50%;
				transform: translateY(-50%) rotate(180deg);
			}
		}

	}
	&__parameters {
		margin-bottom: rem(40);
		.dd-group {
			&__head {
				padding: rem(9) rem(25) rem(9) rem(13);
			}
			&__content {
				padding-top: rem(42);
				padding-bottom: rem(18);
				border: 1px solid #e6e6e6;
				border-top-color: transparent;
			}
			&__slide {
				max-width: rem(195);
				margin: 0 auto;
				.irs {
					&-line {
						height: 1px;
						background-color: #ef9c00;
						top: 28px;
					}
					&-bar {
						height: 1px;
						background-color: #ef9c00;
						top: 28px;
					}
					&-handle {
						width: 14px;
						height: 14px;
						box-shadow: 0 0 4px rgba(0, 0, 0, 0.22);
						background-color: #fff;
						position: absolute;
						border-radius: 50%;
						&:before {
							content: '';
							width: 6px;
							height: 6px;
							background-color: #ef9c00;
							border-radius: 50%;
							@include a-cent;
						}
						i {
							opacity: 0;
						}
					}
					&-from, &-to, &-single {
						display: none;
						// background-color: #fcfbfb;
						// color: $gray-900;
						// border: 1px solid #e6e6e6;
						// font-size: rem(14);
						// padding: rem(5) rem(15);
						// top: -13px;
						// &:before {
						// 	content: unset;
						// }
					}
					&-min, &-max {
						display: none;
					}
				}
			}
			.form-wrap {
				max-width: rem(125);
				margin: 0 auto 0 rem(39);
				&--2 {
					// display: flex;
					// align-items: center;
					// flex-wrap: wrap;
					margin: 0 rem(14);
					max-width: none;
					// .custom-input {
					// 	max-width: max-content;
					// }
					.row {
						--bs-gutter-x: rem(14);
					}
					.custom-input {
						&__input {
							background-color: #fff;
							border-color: $gray-900;
							border-radius: 2px;
							&:checked {
								border: 2px solid #ef9c00;
							}
						}
						&__text {
							display: inline-block;
							vertical-align: text-top;
						}
					}
				}
			}
			&__extra-controls {
				@include roww('3px', 'm');
				display: flex;
				input {
					background-color: #fcfbfb;
					color: $gray-900;
					border: 1px solid #e6e6e6;
					font-size: rem(14);
					padding: rem(5) rem(15);
					width: 100%;
				}
			}
		}

	}
	&__btns {
		display: flex;
		align-items: center;
		justify-content: space-around;
		margin-bottom: rem(205);
		@include media-breakpoint-up(md) {
			margin-bottom: rem(124);
		}
		@include media-breakpoint-up(xl) {
			margin-bottom: rem(68);
		}
	}
	&__btn {
		color: $gray-900;
		font-size: rem(14);
		&--secondary {
			color: $secondary;
		}
	}
	&__categories {
		display: none;
		margin-bottom: rem(37);
		@include media-breakpoint-up(xl) {
			display: block;
		}
		.dd-group {
			&__head {
				font-size: rem(16);
				padding: rem(8) rem(25) rem(8) rem(13);
				font-weight: 700;
				// margin-bottom: rem(35);
			}
			&__content {
				padding-top: rem(35);
			}
			&__wrap {
				position: relative;
				&:not(:first-child) {
					.dd-group__header {
						border-top-color: transparent;
					}
				}
				&:hover {
					.dd-group__header {
						background-color: $secondary;
						color: #fff;
						&:after {
							opacity: 0;
						}
					}
					.dd-group__body {
						opacity: 1;
						pointer-events: all;
					}
				}
			}
			&__header {
				@include mt;
				cursor: pointer;
				border: 1px solid #e6e6e6;
				position: relative;
				display: flex;
				align-items: center;
				padding: rem(8) rem(25) rem(8) rem(13);
				font-size: rem(14);
				&:after {
					@include mt;
					content: '';
					position: absolute;
					display: block;
					background-image: url('../img/svg/triangle-up.svg');
					background-repeat: no-repeat;
					background-size: contain;
					background-position: center;
					width: 14px;
					height: 14px;
					right: 10px;
					top: 50%;
					transform: translateY(-50%) rotate(180deg);
				}
			}
			&__img-wrap {
				@include block(35, 31);
				max-width: rem(35);
				min-width: rem(35);
				flex: 0 0 auto;
				margin-right: rem(14);
			}
			&__body {
				@include mt;
				position: absolute;
				top: 0;
				left: 100%;
				opacity: 0;
				pointer-events: none;
				// width: 100%;
				// height: 100%;
				// min-width: rem(1176);
				background-color: #fff;
				border: 1px solid #eaeaea;
				padding: rem(87) rem(100);
				z-index: 12;
				min-width: rem(700);
				@include media-breakpoint-up(xxl) {
					min-width: rem(1176);
				}
				&:before {
					content: '';
					position: absolute;
					display: block;
					width: 100px;
					height: 100px;
					left: -50px;
					top: 50px;
					background-color: transparent;
				}
				ul {
					list-style-type: none;
					margin-bottom: 0;
					margin-top: rem(-15);
					column-count: 2;
					li {
						margin-top: rem(15);
						display: inline-block;
						width: 100%;
						a {
							text-decoration: none;
							color: $gray-900;
							font-size: rem(14);
							&:hover {
								color: $secondary;
							}
						}
					}
				}
			}
		}
	}
	&__news {
		.dd-group {

			&__head {
				font-size: rem(16);
				padding: rem(8) rem(25) rem(8) rem(13);
				font-weight: 700;
				// margin-bottom: rem(35);
			}
			&__news-item {
				border: 1px solid #e6e6e6;
				padding: rem(19) rem(13);
				border-top-color: transparent;
				p {
					font-size: rem(14);
					margin-bottom: 10px;
				}
			}
			&__news-title {
				font-size: rem(14);
				color: $gray-900;
				margin-bottom: 10px;
			}
			&__news-date {
				color: $gray-900;
				font-size: rem(14);
				text-align: right;
			}
		}
	}
}