.swiper-nav {
	overflow: visible;
}
.menu{
	@include media-breakpoint-down(lg) {
		@include roww(40px);
	}
	@include media-breakpoint-up(lg) {

		display: flex;
		text-align: center;
		@include roww(10px);
		flex-wrap: wrap;
		justify-content: space-between;
	}
	@include media-breakpoint-up(xxl) {
		--bs-gutter-x: 20px;
	}
	list-style: none;
	position: relative;
	margin-bottom: 0;
	max-width: 100%;
	.menu-item{
		
		// margin-left: 0;
		// margin-right: 0;
		position: relative;
		width: auto;
		@include media-breakpoint-up(lg) {
			padding: 0;
		}
		& > a, & > span {
			cursor: pointer;
			position: relative;
			display: block;
			text-transform: uppercase;
			color: $body-color;
			text-decoration: none;
			padding: 1.1875rem 6px;
			font-size: 15px;
			text-align: left;
			@media (min-width: 1040px) {
				padding: 1.1875rem 9px;
			}
			@include media-breakpoint-up(xxl) {
				padding: rem(19) 20px;
				font-size: 16px;
			}
			@media (min-width: 1600px) {
				padding: rem(19) 29px;
			}
			&::before {
				@include mt;
				content: '';
				position: absolute;
				display: block;
				top: 0;
				left: 0;
				width: 100%;
				height: 5px;
				background-color: transparent;
				border-radius: 2px;
			}
			&:hover {
				&::before {
					background-color: $secondary;
				}
			}
			svg {
				fill: none;
				stroke: currentColor;
				stroke-width: 2px;
				font-size: rem(16);
				margin-right: rem(14);
				vertical-align: text-top;
				@include media-breakpoint-up(xl) {
					font-size: rem(21);
					margin-right: rem(28);
				}
			}
		}
		& > span {
			a {
				padding: 0;
				text-decoration: none;
				color: $gray-600;
			}
		}
		&:hover {
			& > a:before {
				background-color: $secondary;
			}
			.sub-menu {
				opacity: 1;
				pointer-events: all;
			}
		}
	}
}

.menu-item--js {
	@include media-breakpoint-down(lg) {
		display: none !important;
	}
	&.active {
		span {
			&::before {
				background-color: $secondary;
			}
		}
	}
}

.sub-menu {
	position: absolute !important;
	left: 50%;
	top: 100%;
	transform: translateX(-50%);
	background-color: #fff;
	width: rem(220);
	@include media-breakpoint-up(lg) {
		border: 0.5px solid rgb(227, 227, 227);
		@include mt;
		// background-color: #fff;
		list-style-type: none;
		opacity: 0;
		pointer-events: none;
		
	}
	@include media-breakpoint-down(lg) {
		display: none;
		border-top: 0.5px solid rgb(227, 227, 227);
		border-bottom: 0.5px solid rgb(227, 227, 227);
	}
	.menu-item {
		&:hover {
			a {
				background-color: $gray-400;
				&::before {
					content: unset;
				}
			}
		}
	}
}

.toggle-menu-mobile {
	--h: #{em(2)};
	--color: #{#101010};
	--position: calc(var(--h) * 2);
	&.on span {
		--color: #{transparent};
		&:before, &:after {
			--color: #{#101010};
		}
	}

	&.on  { 
		--position: 0; 
		--rotate: 45deg;
	}
	display: block;
	height: calc(var(--h)* 6);
	position: relative; 
	font-size: 32px;
	width: rem(42);
	cursor: pointer;
	span:after,
	span:before {
		content: "";
		position: absolute;
		left: 0;
		border-radius: 2px;
	} 
	span {
		@include a-cent(y);
		display: block;
		border-radius: 2px;
	}

	span:before { 
		top: var(--position);
		transform: rotate3d(0,0,1, var(--rotate, 0));
	}

	span:after {
		bottom: var(--position);
		transform: rotate3d(0,0,1, calc(-1 * var(--rotate,0)));
	}
	span,
	span:after,
	span:before {
		// width: 32px;
		width: rem(42);
		height: var(--h);
		background-color: var(--color);
		transition: all 0.3s;
		backface-visibility: hidden; 
		transform-origin: 50% 50%;
	} 
}
// @include media-breakpoint-down(md) {
// 	.menu-mobile {
// 		top: 236px;
// 	}
// }
@include media-breakpoint-down(lg) {

	

	.menu-mobile {
		position: absolute !important;
		z-index: 999;
		max-width: 100%;
		// height: calc(var(--vh, 1vh) * 100);
		// height: 100vh;
		width: 100%;
		top: calc(100% );
		left: 0;
		// right: -2px;
		background-color: $body-bg;
		border-top: 1px solid $gray-200;
		&:not(.active){
			transform: translate3d(0, -200%,0);
			--opacity: 0;
			.toggle-menu-mobile{
				opacity: 0;
			}
		}
		@include mt(.6s);
		will-change: transform;

		
		.toggle-menu-mobile { 
			margin-left: -15%;
			position: absolute; 
			left: 0;
			right: auto;
			color: #FFF;
			top: 10px;
			z-index: 9999; 
			span:after,
			span:before {
				--color: #ffffff;
			}
		}
		&__inner {
			padding: calc(env(safe-area-inset-top, 0px)) 0 calc(env(safe-area-inset-bottom, 0px));
			// overflow-x: hidden;
			// overflow-y: auto;
			-webkit-overflow-scrolling: touch;
			height: 100%;
			position: relative;
			// @include mt(.3s);
			// transition-delay: .4s;
			// opacity: var(--opacity);
			.swiper {
				z-index: 5;
			}
		}

		&.active { 
			.toggle-menu-mobile {
				opacity: 1;
			}
		}


		ul {
			position: relative;
		}

		li {
			display: block;
			margin: 0;
			border-top: 1px solid rgba(255, 255, 255, .13);

			a {
				// font-size: 16px;

				padding: 10px;
				display: block;

			}
		}
	}
}