mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-lg-none
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js.d-lg-none
		//- +b.toggle-menu-mobile--js
		//- 	span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav(mainPage=false) 
	// start top-nav
	+b.top-nav.block-with-lazy
		//- .container
		+e.row.row
			.col-6.col-lg-auto.order-1.order-lg-1
				if mainPage
					+e.logo
						a(href="#")
							+img('img/logo.png')
						+e.text Продажа металлической мебели и оборудования для бизнеса и дома
				else
					+e.logo(href="#")
						+img('img/logo.png')
						+e.text Продажа металлической мебели и оборудования для бизнеса и дома
			//- .col-auto
			.col.order-4.order-lg-last.order-xxl-2
				+e.search
					+e.hidden
						+icon('search')
					form
						input(type="text" placeholder='Поиск по каталогу')
						button(type="submit") 
							+icon('search')
			.col-6.col-lg-auto.order-2.order-lg-3.ms-auto
				+e.call-back
					+e.tel--gray(href="tel:+74951722624") + 7 (495) 172-26-24
					+e.tel(href="tel:88005558141") &nbsp;&nbsp;&nbsp;&nbsp;8 (800) 555-81-41
					+e.modal-call(href='#' data-src='modal-call' data-fancybox="modal").d-none.d-sm-block Заказать обратный звонок
			.col-auto.order-5.order-lg-4
				+e.links
					+e.link.active(href="#")
						//- +img('img/svg/heart.svg')
						+icon('like')
					+e.link.active(href="#")
						//- +img('img/svg/diagram.svg')
						+icon('diagram')
					+e.link.active(href="#")
						//- +img('img/svg/basket.svg')
						+icon('cart')
						+e.counter 3
					+e.link.active(href="#")
						//- +img('img/svg/user.svg')
						+icon('person')
				+e.links
					+e.link(href="#")
						//- +img('img/svg/heart.svg')
						+icon('like')
					+e.link(href="#")
						//- +img('img/svg/diagram.svg')
						+icon('diagram')
					+e.link(href="#")
						//- +img('img/svg/basket.svg')
						+icon('cart')
						+e.counter 3
					+e.link(href="#")
						//- +img('img/svg/user.svg')
						+icon('person')
			.col-auto.d-lg-none.order-3.order-lg-5
				+menu-toggle()
		+e.menu-row.row
			.col-12.order-lg-0.order-last
				//- +menu-toggle()
				.menu-mobile.menu-mobile--js
					.menu-mobile__inner
						//- +menu-toggle()
						+mnu()
						+catalogDropdown()
		//- +catalogDropdown()

	// end top-nav
mixin catalogDropdown()
	+b.catalog-dropdown&attributes(attributes)
		+e.dropdown-content
			mixin item(i, text, variant)
				+e.wrap
					+e.catalog-item
						+e.img-wrap
							.img-wrap-center
								+img(`img/category-img-${i}.png`)
						p!= text 
					+e.show-more
						+e.back
							+icon('chevron-left')
							| Назад
						if variant == 'first'
							+e.list-row.row
								.col-4
									ul
										li: h5 по типу
										li: a(href="#") Стеллажи архивные
										li: a(href="#") Стеллажи усиленные
										li: a(href="#") Стеллажи серии МКФ
										li: a(href="#") Среднегрузовые стеллажи
										li: a(href="#") Стеллажи полочные
										li: a(href="#") Для одежды
										li: a(href="#") Для колес
										li: a(href="#") Стеллажи с дверьми
										li: a(href="#") Для бутылей
										li: a(href="#") Стеллажи универсальные
										li: a(href="#") Грузовые стеллажи
										li: a(href="#") Стеллажи из нержавеющей стали
										li: a(href="#") Оцинкованные стеллажи
										li: a(href="#") Складские
										li: a(href="#") Офисные
										li: a(href="#") Для дома
										li: a(href="#") Стеллажи на зацепах
								.col-4
									ul
										li: h5 по назначению
										li: a(href="#") Для гаража
										li: a(href="#") Для балконов
										li: a(href="#") Для кладовки
										li: a(href="#") Для инструментов
										li: a(href="#") Для автозапчастей
										li: a(href="#") Стеллажи с перфорированными полками
										li: a(href="#") Стеллажи с пластиковыми ящиками
										li: a(href="#") Стеллажи с наклонными полками
										li: a(href="#") Стеллажи с выкатными платформами
										li: a(href="#") Антистатические стеллажи
										li: a(href="#") Стеллажи серии СТ
										li: a(href="#") Стеллажи серии СТП
										li: a(href="#") Стеллажи серии СКУ
										li: a(href="#") Стеллажи паллетные
										li: a(href="#") Стеллажи консольные 
										li: a(href="#") Мобильные стеллажи
										li: a(href="#") Лотки, кассетницы и системы хранения
								.col
									ul
										li: h5 по типу
										li: a(href="#") 100
										li: a(href="#") 120
										li: a(href="#") 140
										li: a(href="#") 150
										li: a(href="#") 200
										li: a(href="#") 220
										li: a(href="#") 300
										li: a(href="#") 450
										li: a(href="#") 550
										li: a(href="#") 750
										li: a(href="#") 850
										li: a(href="#") 1300
										li: a(href="#") 4,5 т
								.col
									ul
										li: h5 серия
										li: a(href="#") ст-031
										li: a(href="#") ст-120
										li: a(href="#") ст-200
										li: a(href="#") мкф
										li: a(href="#") мку
										li: a(href="#") ст-031
										li: a(href="#") ст-120
										li: a(href="#") ст-200
										li: a(href="#") мкф
										li: a(href="#") мку
										li: a(href="#") ст-031
										li: a(href="#") ст-120
										li: a(href="#") ст-200
										li: a(href="#") мкф
										li: a(href="#") мку
						if variant == 'second'
							+e.list
								ul
									li: a(href="#")  Слесарные верстаки ВЛ-К
									li: a(href="#")  Верстаки&nbsp;ВЛ
									li: a(href="#")  Верстаки&nbsp;ВС
									li: a(href="#")  Столярные верстаки
									li: a(href="#")  Верстаки Эксперт и&nbsp;Мастер
									li: a(href="#")  Верстаки&nbsp;РМ
									li: a(href="#")  Столы монтажные
									li: a(href="#")  Столы монтажные&nbsp;СР нагрузка на&nbsp;столешницу 250&nbsp;кг
									li: a(href="#")  Столы монтажные СР-М нагрузка на&nbsp;столешницу 300&nbsp;кг
						if variant == 'third'
							+e.list-third.row
								.col
									ul
										li: a(href="#") Шкафы сушильные 
										li: a(href="#") Шкафы для обуви
										li: a(href="#") Шкафы для раздевалок
										li: a(href="#") Шкафы для одежды 
										li: a(href="#") Шкафы инструментальные
										li: a(href="#") Шкафы для газовых баллонов
										li: a(href="#") Шкафы для кислородных баллонов
										li: a(href="#") Абонентские ящики
										li: a(href="#") Многоящичные шкафы
										li: a(href="#") Шкафы для документов
								.col
									ul
										li: a(href="#") Бухгалтерские шкафы
										li: a(href="#") Архивные шкафы
										li 
											a(href="#") Медицинские шкафы
											ul
												li: a(href="#") Медицинские шкафы ШМС
												li: a(href="#") Одностворчатые медицинские шкафы
												li: a(href="#") Двустровчатые медицинские шкафы
												li: a(href="#") Медицинские шкафы ШММ
												li: a(href="#") Медицинские шкафы ШСС
												li: a(href="#") Шкафы для медикаментов и&nbsp;документации
												li: a(href="#") Шкафы медицинские для одежды
												li: a(href="#") Шкафы для уборочного инвентаря
												li: a(href="#") Шкафы палатные
												li: a(href="#") Белые медицинские шкафы
								.col
									ul
										li: a(href="#") Шкафы для ключей
										li: a(href="#") Шкафы для сумок
										li 
											a(href="#") Картотечные шкафы
											ul
												li: a(href="#") Картотека формата А4
												li: a(href="#") Картотеки формата А5
												li: a(href="#") Картотеки формата А6
												li: a(href="#") Картотеки больших форматов
												li: a(href="#") Передвижные картотеки
												li: a(href="#") Прочие картотеки
												li: a(href="#") Многоящичные шкафы
												li: a(href="#") Медицинские картотеки
												li: a(href="#") Настольные картотеки
												li: a(href="#") Шариковые направляющие
						if variant == 'forth'
							+e.list
								ul
									li: a(href="#") Шафы сушильные
									li: a(href="#") Шкафы для обуви
									li: a(href="#") Шкафы для раздевалок
									li: a(href="#") Скамейки для раздевалок
									li: a(href="#") Замки для металлических шкафов
						if variant == 'fifth'
							+e.list-third.row
								.col
									ul
										li
											a(href="#") Верстаки
											ul
												li: a(href="#") Слесарные верстаки ВЛ-К
												li: a(href="#") Верстаки ВЛ
												li: a(href="#") Верстаки ВС
												li: a(href="#") Столярные верстаки
												li: a(href="#") Верстаки Экспер и&nbsp;Мастер
												li: a(href="#") Верстаки РМ
												li: a(href="#") Столы монтажные
										li: a(href="#") Шкафы для одежды
										li: a(href="#") Шкафы инструментальные
										li
											a(href="#") Оборудование для газовых баллонов
											ul
												li: a(href="#") Шкафы для газовых баллонов
												li: a(href="#") Шкафы для кислородных баллонов 
												li: a(href="#") Контейнеры для газовых баллонов
												li: a(href="#") Тележки для газовых баллонов
												li: a(href="#") Хранилища для кислородных баллонов
												li: a(href="#") Хранилища для пропановых баллоков
												li: a(href="#") Клети для газовых боллонов
												li: a(href="#") Ложементы для газовых баллонов
												li: a(href="#") Стойки для газовых баллонов
												li: a(href="#") Настенные крепления для газовых баллонов
										li: a(href="#") Архивно-складские шкафы
								.col
									ul
										li
											a(href="#") Грузовые тележки
											ul
												li: a(href="#") Тележки двухколесные
												li: a(href="#") Тележки для баллонов 
												li: a(href="#") Тележки платформенные
												li: a(href="#") Тележки для бочек (бидонов)
												li: a(href="#") Лестничные тележки
												li: a(href="#") Контейнеры сетчатые металлические
												li: a(href="#") Тележки с&nbsp;поворотной осью
												li: a(href="#") Тележки антикоррозийные
												li: a(href="#") Тележки большегрузные
												li: a(href="#") Специализированные тележки
												li: a(href="#") Колеса
										li
											a(href="#") Гидравлические тележки
											ul
												li: a(href="#") Гидравлические рохли 
												li: a(href="#") Подъемные столы
												li: a(href="#") Тележки гидравлические с&nbsp;весами
												li: a(href="#") Тележки гидравлические с&nbsp;функцией подъема
												li: a(href="#") Ролики к&nbsp;рохлям
										li
											a(href="#") Для хранения бочек
											ul
												li: a(href="#") Паплеты для бочек
												li: a(href="#") Подставки для бочек
												li: a(href="#") Шкафы для бочек
												li: a(href="#") Поддоны для бочек
										li: a(href="#") Хранение листовых материалов
										li: a(href="#") Тележки для инструментов
								.col
									ul
										li: a(href="#") Тумбы инструментальные
										li: a(href="#") Хранение лвж
										li
											a(href="#") Поддоны (палеты) и&nbsp;ограждения
											ul
												li: a(href="#") Поддоны (палеты) металлические
												li: a(href="#") Ограждения для поддонов (палет)
										li
											a(href="#") Контейнеры для производства и&nbsp;склада
											ul
												li: a(href="#") Контейнеры складные с&nbsp;откидным дном
												li: a(href="#") Распашные контейнеры для производственных отходов
												li: a(href="#") Контейнеры КО, КОА
												li: a(href="#") Грузовые контейнеры
												li: a(href="#") Контейнера сетчатые
										li: a(href="#") Компьютерные шкафы
										li: a(href="#") Лотки, кассетницы и&nbsp;системы хранения
										li: a(href="#") Стулья промышленные
										li: a(href="#") Металлические шкафы с&nbsp;рольставнями (роллетные шкафы)
										li: a(href="#") Оборудование для кабеля
										li: a(href="#") Стойки подкатные
										li: a(href="#") Штабелёры
						if variant == 'sixth'
							+e.list-third.row
								.col
									ul
										li: a(href="#") Почтовые ящики для частных домов
										li: a(href="#") Почтовые ящики в&nbsp;подъезд многоквартирного дома
										//- li: a(href="#") Почтовые ящики из&nbsp;нержавеющей стали
										li
											a(href="#") Почтовые ящики из&nbsp;нержавеющей стали
											ul
												li: a(href="#") Почтовые ящики серии Эталон
												li: a(href="#") Почтовые ящики серии Эталон Премиум
										li: a(href="#") Деревянные почтовые ящики
								.col
									ul
										li: a(href="#") Ящики Базис
										li: a(href="#") Ящики базис лайт
										li: a(href="#") Ящики в&nbsp;подъезд базис плюс
										li: a(href="#") Ящики базис элит
										li: a(href="#") Ящики базис премиум
								.col
									ul
										li: a(href="#") Серия евро
										li: a(href="#") Почтовые ящики из&nbsp;нержавеющей стали серии слим
										li: a(href="#") Абонентские ящики
										li: a(href="#") Замки для почтовых ящиков
										li: a(href="#") Почтовые ящики для спама
						if variant == 'seventh'
							+e.list-third.row
								.col
									ul
										li
											a(href="#") Медицинские шкафы
											ul
												li: a(href="#") Медицинские шкафы ШМС
												li: a(href="#") Одностворчатые медицинские шкафы
												li: a(href="#") Двухстворчатые медицинские шкафы
												li: a(href="#") Медицинские шкафы ШММ
												li: a(href="#") Медицинские шкафы ШСС
												li: a(href="#") Шкафы для медикаментов и&nbsp;документации
												li: a(href="#") Шкафы медицинские для одежды
												li: a(href="#") Шкафы для уборочного инвентаря
												li: a(href="#") Шкафы палатные
												li: a(href="#") Белые медицинские шкафы
								.col
									ul
										li: a(href="#") Столы медицинские 
										li: a(href="#") Тележки медицинские
										li: a(href="#") Мебель для переливания крови
										li: a(href="#") Медицинские прикроватные тумбы
										li: a(href="#") Медицинские кровати 
										li: a(href="#") Аптечки металлические
										li: a(href="#") Медицинские банкетки
								.col
									ul
										li: a(href="#") Медицинские кушетки
										li: a(href="#") Массажные столы
										li: a(href="#") Медицинские кресла
										li: a(href="#") Медицинские табуреты
										li: a(href="#") Косметологические кресла
										li: a(href="#") Стеллажи медицинские
										li: a(href="#") Полки медицинские
						if variant == 'eigth'
							+e.list-third.row
								.col
									ul
										li
											a(href="#") Нейтральное оборудование
											ul
												li: a(href="#") Ванны моечные из&nbsp;нержавеющей стали
												li: a(href="#") Столы из&nbsp;нержавеющей стали
												li: a(href="#") Стеллажи из&nbsp;нержавейки для кухни
												li: a(href="#") Стеллажи из&nbsp;нержавеющей стали
												li: a(href="#") Ванны-рукомойники
												li: a(href="#") Тележки для общепита
												li: a(href="#") Тележки платформенные из&nbsp;нержавеющей стали
												li: a(href="#") Тележки-шпильки для противней и&nbsp;гастроемкостей
												li: a(href="#") Шкафы из&nbsp;нержавейки
												li: a(href="#") Полки кухонные
												li: a(href="#") Разделочные доски и&nbsp;колоды для рубки мяса
								.col
									ul
										li
											a(href="#") Вентиляционное оборудование
											ul
												li: a(href="#") Зонты вытяжные
												li: a(href="#") Местные вентоотсосы
										li: a(href="#") Готовые решения для бизнеса
										li
											a(href="#") Оборудование для фастфуда
											ul
												li: a(href="#") Аппараты для пончиков
												li: a(href="#") Блинные аппараты
												li: a(href="#") Грили из&nbsp;нержавеющей стали
												li: a(href="#") Жарочные поверхности
												li: a(href="#") Мармиты для первых и&nbsp;вторых блюд
												li: a(href="#") Установка для приготовления шаурмы
												li: a(href="#") Фритюрницы промышленные
												li: a(href="#") Чебуречницы
												li: a(href="#") Электроплиты
								.col
									ul
										li
											a(href="#") Тепловое оборудование
											ul
												li: a(href="#") Печи (пароконвектоматы) для приготовления блюд
												li: a(href="#") Средства для стерилизации ножей
												li: a(href="#") Кипятильники
										li: a(href="#") Колеса для пищевого оборудования
						if variant == 'ninth'
							+e.list-third.row
								.col
									ul
										li
											a(href="#") Картотечные шкафы
											ul
												li: a(href="#") Картотеки формата А4
												li: a(href="#") Картотеки формата А5
												li: a(href="#") Картотеки формата А6
												li: a(href="#") Картотеки больших форматов
												li: a(href="#") Передвижные картотеки
												li: a(href="#") Прочие картотеки
												li: a(href="#") Многоящичные шкафы
												li: a(href="#") Медицинские картотеки
												li: a(href="#") Настольные картотеки
												li: a(href="#") Шариковые направляющие
								.col
									ul
										li
											a(href="#") Металлические офисные шкафы
											ul
												li: a(href="#") Офисные шкафы для одежды
												li: a(href="#") Шкафы для документов
												li: a(href="#") Бухгалтерские шкафы
												li: a(href="#") Шкафы-купе
												li: a(href="#") Архивные шкафы
												li: a(href="#") Шкафы с дверями жалюзи
												li: a(href="#") Шкафы для ключей
												li: a(href="#") Шкафы для пеналов
												li: a(href="#") Шкафы для тубусов
												li: a(href="#") Шкафы для корреспонденции
										li: a(href="#") Офисные тумбы для документов
										li: a(href="#") Металлические офисные столы
								.col
									ul
										li
											a(href="#") Сейфы
											ul
												li: a(href="#") Кэш-боксы
												li: a(href="#") Мебельные сейфы
												li: a(href="#") Офисные сейфы
												li: a(href="#") Огнестойкие сейфы valberg
												li: a(href="#") Встраиваемые сейфы
												li: a(href="#") Взломостойкие сейфы
												li: a(href="#") Огневзломостойкие сейфы
												li: a(href="#") Депозитные сейфы
												li: a(href="#") Банковское оборудование
										li: a(href="#") Папки для документов А4
										li
											a(href="#") Офисные стулья и&nbsp;табуретки
											ul
												li: a(href="#") Офисные кресла
												li: a(href="#") Офисные табуреты
						if variant == 'tenth'
							+e.list-third.row
								.col
									ul
										li: a(href="#") Ключницы металлические
										li: a(href="#") Шкафы для сумок
										li: a(href="#") Замки для металлической мебели
										li
											a(href="#") Оружейные шкафы
											ul
												li: a(href="#") Шкафы для оружейных комнат
												li: a(href="#") Столы для чистки оружия
												li: a(href="#") Шкафы для частного использования
										li: a(href="#") Пластиковые мусорные контейнеры
										li: a(href="#") Скамейки и&nbsp;лавки
										li: a(href="#") Стойки ограждений с&nbsp;лентой
								.col
									ul
										li
											a(href="#") Колёса
											ul
												li: a(href="#") Пневматические колёса и камеры
												li: a(href="#") Промышленные колёса
												li: a(href="#") Аппаратные колёса и ролики
												li: a(href="#") Большегрузные колёса и опоры
												li: a(href="#") Колёса с литой резиной
												li: a(href="#") Полиуретановые колёса
												li: a(href="#") Комплекты колёс
												li: a(href="#") Колёса термостойкие 
												li: a(href="#") Колёса для рохли
												li: a(href="#") Колёса для покупательских тележек
												li: a(href="#") Траволатоные колёса
										li: a(href="#") Опечатывающие устройства
										li: a(href="#") Контейнеры для ртутных ламп
								.col
									ul
										li: a(href="#") Ящики и&nbsp;контейнеры для ветоши
										li: a(href="#") Лестницы передвижные
										li: a(href="#") Телескопические направляющие
										li: a(href="#") Цветная металлическая мебель 
										li: a(href="#") Металлические урны
										li: a(href="#") Металлические кровати для хостелов
										li: a(href="#") Велопарковки
										li: a(href="#") Навесное оборудование
										li: a(href="#") Колесоотбойники
			+item(1, 'Металлические стеллажи', 'first')
			+item(2, 'Верстаки', 'second')
			+item(3, 'Металлические шкафы', 'third')
			+item(4, 'Мебель для раздевалок', 'forth')
			+item(5, 'Мебель для производства и склада', 'fifth')
			+item(6, 'Почтовые ящики', 'sixth')
			+item(7, 'Медицинская мебель', 'seventh')
			+item(8, 'Пищевое оборудование', 'eigth')
			+item(9, 'Офисная мебель', 'ninth')
			+item(10, 'Прочие изделия', 'tenth')
			+ddGroup
				+ddGroupItem("По типу мебели")
					a(href="#") Для офисов
					a(href="#") Для складов