mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-lg-none
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js.d-lg-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		//- .container
		+e.row.row
			.col-6.col-lg-auto.order-1.order-lg-1
				+e.logo(href="#")
					+img('img/logo.png')
					+e.text Продажа металлической мебели и оборудования для бизнеса и дома
			//- .col-auto
			.col.order-4.order-lg-last.order-xxl-2
				+e.search
					+e.hidden
						+icon('search')
					form
						input(type="text" placeholder='Поиск по каталогу')
						button(type="submit") 
							+icon('search')
			.col-6.col-lg-auto.order-2.order-lg-3.ms-auto
				+e.call-back
					+e.tel--gray(href="tel:+74951722624") + 7 (495) 172-26-24
					+e.tel(href="tel:88005558141") &nbsp;&nbsp;&nbsp;&nbsp;8 (800) 555-81-41
					+e.modal-call(href='#' data-src='modal-call' data-fancybox="modal").d-none.d-sm-block Заказать обратный звонок
			.col-auto.order-5.order-lg-4
				+e.links
					+e.link(href="#")
						//- +img('img/svg/heart.svg')
						+icon('like')
					+e.link(href="#")
						//- +img('img/svg/diagram.svg')
						+icon('diagram')
					+e.link.active(href="#")
						//- +img('img/svg/basket.svg')
						+icon('cart')
						+e.counter 3
					+e.link(href="#")
						//- +img('img/svg/user.svg')
						+icon('person')
			.col-auto.d-lg-none.order-3.order-lg-5
				+menu-toggle()
		+e.menu-row.row
			.col-12.order-lg-0.order-last
				//- +menu-toggle()
				.menu-mobile.menu-mobile--js
					.menu-mobile__inner
						//- +menu-toggle()
						+mnu()

	// end top-nav
mixin catalogDropdown()
	+b.catalog-dropdown
		+e.dropdown-content
			mixin item(i, text)
				+e.wrap
					+e.catalog-item
						+e.img-wrap
							.img-wrap-center
								+img(`img/category-img-${i}.png`)
						p!= text 
					+e.show-more
						.h4!= text
						ul
							mixin listItem(link)
								li
									a(href="#")!= link
							+listItem('Слесарные верстаки ВЛ-К')
							+listItem('Верстаки ВЛ')
							+listItem('Верстаки ВС')
							+listItem('Столярные верстаки')
							+listItem('Верстаки Эксперт и Мастер')
							+listItem('Верстаки РМ')
							+listItem('Столы монтажные')
							+listItem('Столы монтажные СР нагрузка на столешницу 250 кг')
							+listItem('Столы монтажные СР-М нагрузка на столешницу 300 кг')
			+item(1, 'Металлические стеллажи')
			+item(2, 'Верстаки')
			+item(3, 'Металлические шкафы')
			+item(4, 'Мебель для раздевалок')
			+item(5, 'Мебель для производства и склада')
			+item(6, 'Почтовые ящики')
			+item(7, 'Медицинская мебель')
			+item(8, 'Пищевое оборудование')
			+item(9, 'Офисная мебель')
			+item(10, 'Прочие изделия')