
mixin mnu()
	nav.swiper.swiper-nav.swiper-nav--js
		ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement").swiper-wrapper
			li.menu-item.menu-item--js(itemprop="item" )
				a(href="#" itemprop="url")
					+icon('squares')
					| каталог продукции
				//- +catalogDropdown()
			each link in nav
				if link.name
					li.menu-item(itemprop="item" ).swiper-slide: a(href= link.url itemprop="url")= link.name
				if link.subnav
					li.menu-item.menu-item-has-children.swiper-slide
						span
							a(href="#")!= link.subname
						ul.sub-menu
							each sublink in link.subnav
								li.menu-item(itemprop="item" ): a(href= sublink.url itemprop="url")= sublink.name

//- menu